# Dictionary data

get the dictionary of kuznetsova

In [1]:
def cleankuz(word):
    w = word.replace('ё', 'е')
    
    if word == 'батрацкый':
        w = 'батрацкий'
    if word == 'грязиь':
        w = 'грязь'
    if word == 'кнутрй':
        w = 'кнутри'
    if word == 'трй':
        w = 'три'
    if word == 'молокй':
        w = 'молокий'
    if word == 'молочиый':
        w = 'молочный'
    if word == 'непостижиый':
        w = 'непостижимый'
    if word == 'окунеый':
        w = 'окуневый'
    if word == 'пригожй':
        w = 'пригожий'
    if word == 'уличиый':
        w = 'уличный'
    if word == 'минувшый':
        w = 'минувший'
    if word == 'сладенькнй':
        w = 'сладенький'
    if word == 'любый':
        w = 'любой'
    return w

In [2]:
import csv
kuzwords = {}
doublers = {}
with open('kuzdra_clean.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if cleankuz(row[0]) in kuzwords:
            doublers[cleankuz(row[0])] = kuzwords[cleankuz(row[0])][2]
        r1 = row[1].replace('ё', 'е').replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        r2 = row[2].replace('ё', 'е').replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        kuzwords[cleankuz(row[0])] = [r1, r2, row[3]]

In [3]:
len(kuzwords)

72482

In [4]:
kwords = list(kuzwords.keys())

lost 24 homonyms

get the dictionary of tixonov

In [5]:
def cleantix(word):
    w = word
    w = w.split('/')[-1]
    
    
    w = w.replace('1', '')
    w = w.replace('2', '')
    w = w.replace('3', '')
    w = w.replace('4', '')
    w = w.replace('5', '')
    w = w.replace('I', '')
    w = w.replace('V', '')
    w = w.replace('(', '')
    w = w.replace(')', '')
    
    
    if w.endswith(' '):
        w = w = w[:-1]
    if w.endswith('иjе'):
        w = w[:-2] + 'е'
    if w.endswith('иjа'):
        w = w[:-2] + 'я'
    if w.endswith('оjение'):
        w = w[:-5] + 'ение'
    if w.endswith('анjе'):
        w = w[:-5] + 'анье'
    if w.endswith('jецветный'):
        w = w[:-9] + 'ецветный'
    if w.endswith('jе'):
        w = w[:-2] + 'ье'
    if w.endswith('jо'):
        w = w[:-2] + 'ьё'
        
        
    if w.endswith('jа'):
        w = w[:-2] + 'я'
    if w.startswith('двоjе'):
        w = w.replace('двоjе', 'двое')
    if w.startswith('троj'):
        w = w.replace('троj', 'тро')
    if w.startswith('героjи'):
        w = w.replace('героjи', 'герои')
        
        
    w = w.replace('еjе', 'ее')
    w = w.replace('сырjо', 'сырьё')
    w = w.replace('строjитель', 'строитель')
    w = w.replace('краjевой', 'краевой')
    w = w.replace('настраjивать', 'настраивать')
    w = w.replace('молниjе', 'молние')
    w = w.replace('строjе', 'строе')
    
    
    if w == 'третjе':
        w = 'третье'
    if w == 'третjа':
        w = 'третья'
    if w == 'бjущийся':
        w = 'бьющийся'
    if w == 'боjеспособный':
        w = 'боеспособный'
    if w == 'обоjи':
        w = 'обои'
    if w == 'пробоjчик':
        w = 'пробойчик'
    if w == 'чаjеразвеска':
        w = 'чаеразвеска'
    if w == 'молниjевидный':
        w = 'молниевидный'
    if w == 'вjущий':
        w = 'вьющий'
    if w == 'своjевольный':
        w = 'своевольный'
    if w == 'голjом':
        w = 'гольём'
    if w == 'звенjевой':
        w = 'звеньевой'
    if w == 'гореванjице':
        w = 'гореваньице'  
    if w == 'кошачjи':
        w = 'кошачьи'
    if w == 'чешуjекрылый':
        w = 'чешуекрылый'
    if w == 'излиjание':
        w = 'излияние'
    if w == 'помальчишечjи':
        w = 'по-мальчишечьи'
    if w == 'промоjина':
        w = 'промоина'
    if w == 'радиjевый':
        w = 'радиевый'
    if w == 'поjущий':
        w = 'поющий'
    if w == 'пjущий':
        w = 'пьющий'
    if w == 'пjаный':
        w = 'пьяный'
    if w == 'паjивать':
        w = 'паивать'
    if w == 'запоjем':
        w = 'запоем'
    if w == 'своjекоштный':
        w = 'своекоштный'
    if w == 'семjой':
        w = 'семьёй'   
    if w == 'собачjи':
        w = 'собачьи'
    if w == 'стоjащий':
        w = 'стоящий'
    if w == 'стоjачий':
        w = 'стоячий'
    if w == 'стаjивать':
        w = 'стаивать'
    if w == 'твоjи':
        w = 'твои'

        
    if 'j' in w:
        print(w)
    return w

In [6]:
import json
tixwords = {}
with open('nests.json', encoding='utf-8') as json_file:
    nods = json.load(json_file)
    for nod in nods:
        for n in nod.values():
            for word in n:
                w = cleantix(word['root'])
                if w in kuzwords:
                    if w not in tixwords:
                        derivates = []
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        tixwords[w] = derivates
                    else:
                        derivates = tixwords[w]
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        tixwords[w] = derivates

In [7]:
len(tixwords)

33802

In [8]:
twords = list(tixwords.keys())

get what is in tixonov, but isn't in kuznetsova

In [9]:
nottixkuzwords = {}
for w in kuzwords:
    if w not in tixwords:
        nottixkuzwords[w] = kuzwords[w]

In [10]:
len(nottixkuzwords)

38680

In [11]:
ntkwords = list(nottixkuzwords.keys())

get root allomorphs

In [12]:
def common_morps(morphs1, morphs2, allomorphs):
    n = 0
    for m2 in morphs2:
        for m1 in morphs1:
            if m2 == m1:
                n += 1
            else:
                for am in allomorphs:
                    if m1 in am and m2 in am:
                        n += 1
    return n

In [13]:
allomorphs = []
with open('allomorphs.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if sorted(row) not in allomorphs:
            allomorphs.append(sorted(row))
allomorphs.append(['пол', 'полу'])
len(allomorphs)

1049

In [14]:
root_groups = {}
for w in kuzwords:
    roots = kuzwords[w][1]
    groups = []
    for i, am in enumerate(allomorphs):
        for root in roots:
            if root in am:
                groups.append(i)
    root_groups[w] = groups

In [15]:
len(root_groups)

72482

# Get the four parts of speech

In [16]:
from copy import copy
from copy import deepcopy

In [17]:
old_kuzwords = deepcopy(kuzwords)
kuzwords = {}

In [18]:
from pymystem3 import Mystem
m = Mystem()

In [19]:
for w in old_kuzwords:
    pos = old_kuzwords[w][2]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos == 'A' or pos == 'ANUM' or pos == 'APRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'A']
    elif pos == 'V':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'V']
    elif pos == 'S' or pos == 'NUM' or pos == 'SPRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'N']
    elif pos == 'ADV' or pos == 'ADVPRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'D']

In [20]:
len(kuzwords)

72363

In [21]:
kwords = list(kuzwords.keys())

clear tixonov

In [22]:
old_tixwords = deepcopy(tixwords)
tixwords = {}

In [23]:
for w in old_tixwords:
    pos = old_kuzwords[w][2]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos in ['S', 'A', 'D', 'V', 'ANUM', 'APRO', 'NUM', 'SPRO', 'ADV', 'ADVPRO']:
        tixwords[w] = old_tixwords[w]

In [24]:
len(tixwords)

33775

In [25]:
twords = list(tixwords.keys())

new_difference

In [26]:
nottixkuzwords = {}
for w in kuzwords:
    if w not in tixwords:
        nottixkuzwords[w] = kuzwords[w]

In [27]:
len(nottixkuzwords)

38588

In [28]:
ntkwords = list(nottixkuzwords.keys())

clean doublers

In [29]:
old_doublers = deepcopy(doublers)
doublers = {}

In [30]:
for w in old_doublers:
    pos = old_doublers[w]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos == 'A' or pos == 'ANUM' or pos == 'APRO':
        pos = 'A'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'V':
        pos = 'V'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'S' or pos == 'NUM' or pos == 'SPRO':
        pos = 'N'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'ADV' or pos == 'ADVPRO':
        pos = 'D'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos

# Make pairs

from closest neighbours

In [31]:
def make_set(words, kuzwords, doublers):
    pairs = []
    for i in range(15): 
        for j, w1 in enumerate(words):
            if j + i + 1 < len(words):
                w2 = words[j+i + 1]
                if w1 in doublers and w2 in doublers:
                    pairs.append([w1, w2, doublers[w1], doublers[w2]])
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w1 in doublers:
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w2 in doublers:
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                else:
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
          
    return(pairs)

In [32]:
pairs_traintest = make_set(twords, kuzwords, doublers)

In [33]:
len(pairs_traintest)

575081

In [34]:
print(pairs_traintest[1000])

['бить', 'биться', 'V', 'V']

In [35]:
pairs = make_set(ntkwords, kuzwords, doublers)

In [36]:
len(pairs)

656043

from shared roots

In [37]:
def add_pref(words, kuzwords, doublers, root_groups):
    pairs = []
    for i, w1 in enumerate(words):
        if i %500 == 0:
            print(i)
        roots1 = kuzwords[w1][1]
        for w2 in words:
            roots2 = kuzwords[w2][1]
            if w1 != w2:
                t = False
                if set(roots1) & set(roots2):
                    t = True
                elif set(root_groups[w1]) & set(root_groups[w2]):
                    t = True
                else:
                    for r1 in roots1:
                        if r1 + 'ь' in roots2 or r1.replace('ё', 'е') in roots2:
                            t = True
                    for r2 in roots2 or r2.replace('ё', 'е') in roots1:
                        if r2 + 'ь' in roots1:
                            t = True
                if t == True:
                    pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                    if w1 in doublers:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                    if w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                    if w1 in doublers and w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
    return(pairs)

In [38]:
pairs_traintest_pref = add_pref(twords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500

In [39]:
pairs_pref = add_pref(kwords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000

In [40]:
len(pairs_traintest_pref)

5598646

In [41]:
len(pairs_pref)

12927480

In [42]:
import pandas as pd

In [43]:
df_traintest = pd.DataFrame(pairs_traintest, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_traintest.head()

         parent           child pos_p pos_c
0        август    августовский     N     A
1  августовский          август     A     N
2  августовский    микроавтобус     A     N
3  микроавтобус    августовский     N     A
4  микроавтобус  телеавтоматика     N     N

In [44]:
df = pd.DataFrame(pairs, columns=['parent', 'child', 'pos_p', 'pos_c'])
df.head()

          parent          child pos_p pos_c
0   авиамоделист  авиамодельный     N     A
1  авиамодельный   авиамоделист     A     N
2  авиамодельный      авиасвязь     A     N
3      авиасвязь  авиамодельный     N     A
4      авиасвязь       авифауна     N     N

In [45]:
df_tr_pref = pd.DataFrame(pairs_traintest_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_tr_pref.head()

               parent         child pos_p pos_c
0        августовский        август     A     N
1              август  августовский     N     A
2         микроанализ  микроавтобус     N     N
3  микроаналитический  микроавтобус     A     N
4           микровесы  микроавтобус     N     N

In [46]:
df_pref = pd.DataFrame(pairs_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_pref.head()

          parent         child pos_p pos_c
0         август  августовский     N     A
1   августовский        август     A     N
2  авиамодельный  авиамоделист     A     N
3   авиамоторный  авиамоделист     A     N
4      авиасвязь  авиамоделист     N     N

# Part-of-speech categories

one hot encoding

In [47]:
from sklearn import preprocessing

In [48]:
lb = preprocessing.LabelBinarizer()
lb.fit(['N', 'A', 'D', 'V'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [49]:
lb.transform(['N', 'A', 'D', 'V'])

array([[0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1]])

In [50]:
import numpy as np

In [51]:
def one_hot_encode(poses):
    new_poses = lb.transform(poses).T
    N = new_poses[2]
    A = new_poses[0]
    D = new_poses[1]
    V = new_poses[3]
    return N, A, D, V

In [52]:
df_traintest['N_p'], df_traintest['A_p'], df_traintest['V_p'], df_traintest['D_p'] = one_hot_encode(df_traintest['pos_p'])

In [53]:
df['N_p'], df['A_p'], df['V_p'], df['D_p'] = one_hot_encode(df['pos_p'])

In [54]:
df_tr_pref['N_p'], df_tr_pref['A_p'], df_tr_pref['V_p'], df_tr_pref['D_p'] = one_hot_encode(df_tr_pref['pos_p'])

In [55]:
df_pref['N_p'], df_pref['A_p'], df_pref['V_p'], df_pref['D_p'] = one_hot_encode(df_pref['pos_p'])

In [56]:
df_traintest['N_c'], df_traintest['A_c'], df_traintest['V_c'], df_traintest['D_c'] = one_hot_encode(df_traintest['pos_c'])

In [57]:
df['N_c'], df['A_c'], df['V_c'], df['D_c'] = one_hot_encode(df['pos_c'])

In [58]:
df_tr_pref['N_c'], df_tr_pref['A_c'], df_tr_pref['V_c'], df_tr_pref['D_c'] = one_hot_encode(df_tr_pref['pos_c'])

In [59]:
df_pref['N_c'], df_pref['A_c'], df_pref['V_c'], df_pref['D_c'] = one_hot_encode(df_pref['pos_c'])

In [60]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,август,августовский,N,A,1,0,0,0,0,1,0,0
1,августовский,август,A,N,0,1,0,0,1,0,0,0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0

In [61]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0

In [62]:
df_tr_pref.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,августовский,август,A,N,0,1,0,0,1,0,0,0
1,август,августовский,N,A,1,0,0,0,0,1,0,0
2,микроанализ,микроавтобус,N,N,1,0,0,0,1,0,0,0
3,микроаналитический,микроавтобус,A,N,0,1,0,0,1,0,0,0
4,микровесы,микроавтобус,N,N,1,0,0,0,1,0,0,0

In [63]:
df_pref.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,август,августовский,N,A,1,0,0,0,0,1,0,0
1,августовский,август,A,N,0,1,0,0,1,0,0,0
2,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0
3,авиамоторный,авиамоделист,A,N,0,1,0,0,1,0,0,0
4,авиасвязь,авиамоделист,N,N,1,0,0,0,1,0,0,0

# Levenshtein distance, length difference

In [64]:
from Levenshtein import distance as levenshtein_distance

In [65]:
def dist_lengths(words1, words2):
    dists = []
    lengths = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        dists.append(levenshtein_distance(w1, w2))
        lengths.append(len(w1) - len(w2))
    return dists, lengths

In [66]:
df_traintest['lev_dist'], df_traintest['length'] = dist_lengths(df_traintest['parent'], df_traintest['child'])

In [67]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length
0,август,августовский,N,A,1,0,0,0,0,1,0,0,6,-6
1,августовский,август,A,N,0,1,0,0,1,0,0,0,6,6
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0,12,0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0,12,0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0,11,-2

In [68]:
df['lev_dist'], df['length'] = dist_lengths(df['parent'], df['child'])

In [69]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0,4,-1
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0,4,1
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0,8,4
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0,8,-4
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0,6,1

In [70]:
df_tr_pref['lev_dist'], df_tr_pref['length'] = dist_lengths(df_tr_pref['parent'], df_tr_pref['child'])

In [71]:
df_pref['lev_dist'], df_pref['length'] = dist_lengths(df_pref['parent'], df_pref['child'])

# Roots + Morphemes

In [72]:
def morphs(words1, words2, kuzwords):
    roots_p = []
    roots_c = []
    morphs_p = []
    morphs_c = []
    
    for i in range(len(words1)):
        morphs1 = kuzwords[words1[i]][0]
        morphs2 = kuzwords[words2[i]][0]
        roots1 = kuzwords[words1[i]][1]
        roots2 = kuzwords[words2[i]][1]
        
        root = len(set(roots1) & set(roots2))
        roots_p.append(root / len(roots1))
        roots_c.append(root / len(roots2))
        
        
        morph = len(set(morphs1) & set(morphs2)) 
        morphs_p.append(morph / len(morphs1))
        morphs_c.append(morph / len(morphs2))
        
        
    return roots_p, roots_c, morphs_p, morphs_c

In [73]:
df_traintest['roots_p'], df_traintest['roots_c'], df_traintest['morphs_p'], df_traintest['morphs_c'] = morphs(df_traintest['parent'], df_traintest['child'], kuzwords)

In [74]:
df['roots_p'], df['roots_c'], df['morphs_p'], df['morphs_c'] = morphs(df['parent'], df['child'], kuzwords)

In [75]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c
0,август,августовский,N,A,1,0,0,0,0,1,0,0,6,-6,1.0,1.0,1.000000,0.333333
1,августовский,август,A,N,0,1,0,0,1,0,0,0,6,6,1.0,1.0,0.333333,1.000000
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0,12,0,0.0,0.0,0.000000,0.000000
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0,12,0,0.0,0.0,0.000000,0.000000
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0,11,-2,0.0,0.0,0.000000,0.000000

In [76]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0,4,-1,0.5,0.5,0.333333,0.250000
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0,4,1,0.5,0.5,0.250000,0.333333
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0,8,4,0.5,0.5,0.250000,0.333333
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0,8,-4,0.5,0.5,0.333333,0.250000
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0,6,1,0.0,0.0,0.000000,0.000000

In [77]:
df_tr_pref['roots_p'], df_tr_pref['roots_c'], df_tr_pref['morphs_p'], df_tr_pref['morphs_c'] = morphs(df_tr_pref['parent'], df_tr_pref['child'], kuzwords)

In [78]:
df_pref['roots_p'], df_pref['roots_c'], df_pref['morphs_p'], df_pref['morphs_c'] = morphs(df_pref['parent'], df_pref['child'], kuzwords)

# On-off sets

In [79]:
def on_off(words1, words2):
    ons_p = []
    offs_p = []
    ons_c = []
    offs_c = []
    
    
    for i in range(len(words1)):
        on = 0
        off = 0
        
        length = len(words1[i])
        
        for l in range(length):
            if words2[i].startswith(words1[i][:l + 1]):
                if len(words1[i][:l + 1]) > on:
                    on = len(words1[i][:l + 1])

        ons_p.append(on/len(words1[i]))
        ons_c.append(on/len(words2[i]))

        
        for l in range(length):
            if words2[i].endswith(words1[i][l:length + 1]):
                if len(words1[i][l:length + 1]) > off:
                    off = len(words1[i][l:length + 1])
        offs_p.append(off/len(words1[i]))
        offs_c.append(off/len(words2[i]))

        
    return ons_p, ons_c, offs_p, offs_c

In [80]:
df_traintest['onset_p'], df_traintest['onset_c'], df_traintest['offset_p'], df_traintest['offset_c'] = on_off(df_traintest['parent'], df_traintest['child'])

In [81]:
df['onset_p'], df['onset_c'], df['offset_p'], df['offset_c'] = on_off(df['parent'], df['child'])

In [82]:
df_tr_pref['onset_p'], df_tr_pref['onset_c'], df_tr_pref['offset_p'], df_tr_pref['offset_c'] = on_off(df_tr_pref['parent'], df_tr_pref['child'])

In [83]:
df_pref['onset_p'], df_pref['onset_c'], df_pref['offset_p'], df_pref['offset_c'] = on_off(df_pref['parent'], df_pref['child'])

In [84]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,август,августовский,N,A,1,0,0,0,0,1,...,6,-6,1.0,1.0,1.000000,0.333333,1.0,0.5,0.0,0.0
1,августовский,август,A,N,0,1,0,0,1,0,...,6,6,1.0,1.0,0.333333,1.000000,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,...,11,-2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [85]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,...,4,-1,0.5,0.5,0.333333,0.250000,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,...,4,1,0.5,0.5,0.250000,0.333333,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,...,8,4,0.5,0.5,0.250000,0.333333,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,...,8,-4,0.5,0.5,0.333333,0.250000,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,...,6,1,0.0,0.0,0.000000,0.000000,0.333333,0.375000,0.0,0.0

In [86]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,август,августовский,N,A,1,0,0,0,0,1,...,6,-6,1.0,1.0,1.000000,0.333333,1.0,0.5,0.0,0.0
1,августовский,август,A,N,0,1,0,0,1,0,...,6,6,1.0,1.0,0.333333,1.000000,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,...,11,-2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [87]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,...,4,-1,0.5,0.5,0.333333,0.250000,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,...,4,1,0.5,0.5,0.250000,0.333333,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,...,8,4,0.5,0.5,0.250000,0.333333,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,...,8,-4,0.5,0.5,0.333333,0.250000,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,...,6,1,0.0,0.0,0.000000,0.000000,0.333333,0.375000,0.0,0.0

# Beginning Ending

In [88]:
def beginend(words1, words2):
    begins = []
    ends = []

    
    for i in range(len(words1)):
        if words2[i].startswith(words1[i]):
            begins.append(1)
        else:
            begins.append(0)
        
        if words2[i].endswith(words1[i]):
            ends.append(1)
        else:
            ends.append(0)

        
    return begins, ends

In [89]:
df_traintest['begins'], df_traintest['ends'] = beginend(df_traintest['parent'], df_traintest['child'])

In [90]:
df['begins'], df['ends'] = beginend(df['parent'], df['child'])

In [91]:
df_tr_pref['begins'], df_tr_pref['ends'] = beginend(df_tr_pref['parent'], df_tr_pref['child'])

In [92]:
df_pref['begins'], df_pref['ends'] = beginend(df_pref['parent'], df_pref['child'])

# Target

In [93]:
def targets(words1, words2, tixwords):
    targets = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        if w2 in tixwords[w1]:
            targets.append(1)
        else:
            targets.append(0)
    return targets

In [94]:
targets_traintest = targets(df_traintest['parent'], df_traintest['child'], tixwords)

In [95]:
sum(targets_traintest)

25532

In [96]:
target_pref = targets(df_tr_pref['parent'], df_tr_pref['child'], tixwords)

In [97]:
sum(target_pref)

34248

# No str

In [98]:
df_traintest_clean = deepcopy(df_traintest)
df_traintest_clean = df_traintest_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [99]:
df_clean = deepcopy(df)
df_clean = df_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [100]:
df_tr_pref_clean = deepcopy(df_tr_pref)
df_tr_pref_clean = df_tr_pref_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [101]:
df_pref_clean = deepcopy(df_pref)
df_pref_clean = df_pref_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

# Logistic regression

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [103]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [104]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [105]:
LogReg1 = LogisticRegression(max_iter=1000)

In [106]:
LogReg1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [107]:
predictions = LogReg1.predict(x_test)

In [108]:
score = LogReg1.score(x_test, y_test)
print(score)

0.964805141509762

In [109]:
f1_score(LogReg1.predict(x_test), y_test, average='macro')

0.7506464746645563

big_batch

In [110]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [111]:
LogReg2 = LogisticRegression(max_iter=1000)

In [112]:
LogReg2.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [113]:
predictions = LogReg2.predict(x_test)

In [114]:
score = LogReg2.score(x_test, y_test)
print(score)

0.9943686404289035

In [115]:
f1_score(LogReg2.predict(x_test), y_test, average='macro')

0.6744373102475171

# Decision Trees

In [116]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [117]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [118]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [119]:
DecTree1 = DecisionTreeClassifier()

In [120]:
DecTree1 = DecTree1.fit(x_train,y_train)

In [121]:
predictions = DecTree1.predict(x_test)

In [122]:
score = DecTree1.score(x_test, y_test)
print(score)

0.978013646702047

In [123]:
f1_score(DecTree1.predict(x_test), y_test, average='macro')

0.8683863629597097

In [124]:
print(dict(zip(df_clean.columns, DecTree1.feature_importances_)))

{'N_p': 0.027406295033060402, 'A_p': 0.007393191793432976, 'V_p': 0.008381076243878663, 'D_p': 0.04209557373533476, 'N_c': 0.015576465743005512, 'A_c': 0.016071811119497834, 'V_c': 0.0028191178543583656, 'D_c': 0.012595563005970773, 'lev_dist': 0.10711523958144711, 'length': 0.10780108972454334, 'roots_p': 0.013548861353212033, 'roots_c': 0.012816010236447597, 'morphs_p': 0.24475005810051442, 'morphs_c': 0.06746519506421521, 'onset_p': 0.1855205134466297, 'onset_c': 0.049547045793265035, 'offset_p': 0.02865511549193089, 'offset_c': 0.03051661157115196, 'begins': 0.0013732180181827715, 'ends': 0.0185519470899206}

big_batch

In [125]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [126]:
DecTree2 = DecisionTreeClassifier()

In [127]:
DecTree2 = DecTree2.fit(x_train, y_train)

In [128]:
predictions = DecTree2.predict(x_test)

In [129]:
score = DecTree2.score(x_test, y_test)
print(score)

0.9961969389752668

In [130]:
f1_score(DecTree2.predict(x_test), y_test, average='macro')

0.8318536469408251

In [131]:
print(dict(zip(df_clean.columns, DecTree2.feature_importances_)))

{'N_p': 0.027232367882426597, 'A_p': 0.01746693849883254, 'V_p': 0.013956740627714145, 'D_p': 0.0374089875464652, 'N_c': 0.018183994732135292, 'A_c': 0.015497397576684509, 'V_c': 0.0032507944332004733, 'D_c': 0.01766120730043345, 'lev_dist': 0.11658001999895526, 'length': 0.07741638712974011, 'roots_p': 0.008443816150537796, 'roots_c': 0.025279406725516835, 'morphs_p': 0.24098549983051132, 'morphs_c': 0.08542263417183896, 'onset_p': 0.15744701995226965, 'onset_c': 0.06168889720577041, 'offset_p': 0.041086438957952776, 'offset_c': 0.032101316264872996, 'begins': 0.0009677281838035888, 'ends': 0.0019224068303383642}

# Save data

In [132]:
df_traintest['predictions_LogReg'] = LogReg1.predict(df_traintest_clean)

In [133]:
df['predictions_LogReg'] = LogReg1.predict(df_clean)

In [134]:
df_tr_pref['predictions_LogReg'] = LogReg2.predict(df_tr_pref_clean)

In [135]:
df_pref['predictions_LogReg'] = LogReg2.predict(df_pref_clean)

In [136]:
df_traintest['predictions_DecTree'] = DecTree1.predict(df_traintest_clean)

In [137]:
df['predictions_DecTree'] = DecTree1.predict(df_clean)

In [138]:
df_tr_pref['predictions_DecTree'] = DecTree2.predict(df_tr_pref_clean)

In [139]:
df_pref['predictions_DecTree'] = DecTree2.predict(df_pref_clean)

In [140]:
df_traintest.to_csv('df_traintest.csv', encoding='utf-8')

In [141]:
df.to_csv('df.csv', encoding='utf-8')

In [142]:
df_tr_pref.to_csv('df_tr_pref.csv', encoding='utf-8')

In [143]:
df_pref.to_csv('df_pref.csv', encoding='utf-8')

# Get parent_child pairs

In [145]:
pp_pairs = []
for parent in tixwords:
    for child in tixwords[parent]:
        if [parent, child] not in pp_pairs:
            pp_pairs.append([parent, child])
len(pp_pairs)

35763

consequent

In [146]:
df1 = deepcopy(df)
df1 = df1.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [147]:
df1 = df1[df1.predictions_DecTree == 1]

In [148]:
df1.head()

,parent,child,pos_p,pos_c,predictions_LogReg,predictions_DecTree
9,авось,авоська,D,N,0,1
39,автократия,автократический,N,A,0,1
41,автократ,автократия,N,N,1,1
71,автотипия,автотипический,N,A,0,1
81,автохром,автохромный,N,A,1,1

In [149]:
parents1 = df1['parent'].tolist()
children1 = df1['child'].tolist()
poses_p1 = df1['pos_p'].tolist()
poses_c1 = df1['pos_c'].tolist()

In [150]:
parents_kuz1 = []
children_kuz1 = []
poses_p_kuz1 = []
poses_c_kuz1 = []
for i in range(len(parents1)):
    if [parents1[i], children1[i]] not in pp_pairs:
        parents_kuz1.append(parents1[i])
        children_kuz1.append(children1[i])
        poses_p_kuz1.append(poses_p1[i])
        poses_c_kuz1.append(poses_c1[i])

In [151]:
len(parents_kuz1)

35676

In [152]:
poses_p_norm1 = poses_p_kuz1
poses_c_norm1 = poses_c_kuz1

remoted

In [153]:
df2 = deepcopy(df_pref)
df2 = df2.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [154]:
df2 = df2[df2.predictions_DecTree == 1]

In [155]:
df2.head()

,parent,child,pos_p,pos_c,predictions_LogReg,predictions_DecTree
0,август,августовский,N,A,0,1
71,авось,авоська,D,N,0,1
1110,грузовой,автогрузовой,A,A,1,1
1113,груз,автогрузовой,N,A,0,1
1264,гуж,автогужевой,N,A,0,1

In [156]:
parents2 = df2['parent'].tolist()
children2 = df2['child'].tolist()
poses_p2 = df2['pos_p'].tolist()
poses_c2 = df2['pos_c'].tolist()

In [157]:
parents_kuz2 = []
children_kuz2 = []
poses_p_kuz2 = []
poses_c_kuz2 = []
for i in range(len(parents2)):
    if [parents2[i], children2[i]] not in pp_pairs:
        parents_kuz2.append(parents2[i])
        children_kuz2.append(children2[i])
        poses_p_kuz2.append(poses_p2[i])
        poses_c_kuz2.append(poses_c2[i])

In [158]:
len(parents_kuz2)

38079

In [159]:
poses_p_norm2 = poses_p_kuz2
poses_c_norm2 = poses_c_kuz2

unite

In [160]:
len(parents_kuz1)

35676

In [161]:
pc_sets = []
for i in range(len(parents_kuz1)):
    set1 = [parents_kuz1[i], children_kuz1[i], poses_p_norm1[i], poses_c_norm1[i]]
    if set1 not in pc_sets:
        pc_sets.append(set1)

In [162]:
len(pc_sets)

35676

In [163]:
for i in range(len(parents_kuz2)):
    set2 = [parents_kuz2[i], children_kuz2[i], poses_p_norm2[i], poses_c_norm2[i]]
    if set2 not in pc_sets:
        pc_sets.append(set2)

In [164]:
len(pc_sets)

57688

In [165]:
df_all = pd.DataFrame(pc_sets)

In [166]:
df_all.columns = ['parent', 'child', 'pos_p', 'pos_c']

In [167]:
df_all.head()

       parent            child pos_p pos_c
0       авось          авоська     D     N
1  автократия  автократический     N     A
2    автократ       автократия     N     N
3   автотипия   автотипический     N     A
4    автохром      автохромный     N     A

In [168]:
df_all.to_csv('final_pairs.csv', encoding='utf-8')

# Run again on all the words that didn't go into the first set

find all words that haven't found children or parents yet

In [169]:
parents = {}
for index, row in df_all.iterrows():
    parent = row['parent'].replace('ё', 'е')
    child = row['child'].replace('ё', 'е')
    if child not in parents:
        parents[child] = [parent]
    elif parent not in parents[child]:
        parents[child].append(parent)

In [170]:
bad_parents = []
clean_parents = {}

In [171]:
old_length = 0
new_length = 1
while new_length > old_length:
    old_length = new_length
    for child in parents:
        if len(parents[child]) > 1:
            same_roots = []
            max_derivs = []
            begins = []
            ends = []

            for parent in parents[child]:
                # if possible, leave only the parents with the same rooot as the child
                same_roots.append(len(set(kuzwords[parent][1]) & set(kuzwords[child][1])))


                # if possible, leave the most derived parents to avoid multiple loops
                max_deriv = 1
                for other_parent in parents[child]:
                    if other_parent != parent and other_parent in parents and not parent in parents:
                        if parent in parents[other_parent]:
                                max_deriv = 0
                    elif other_parent != parent and other_parent in parents:
                        if parent in parents[other_parent] and not other_parent in parents[parent]:
                                max_deriv = 0
                max_derivs.append(max_deriv)


                # if possible prefer to have parents that are beginnings and endings of children
                if child.startswith(parent):
                    begins.append(1)
                else:
                    begins.append(0)
                if child.endswith(parent):
                    ends.append(1)
                else:
                    ends.append(0)


            # get rid of outlandish roots
            new_parents = copy(parents[child])
            newer_parents = copy(parents[child])
            if sum(same_roots) > 0 and sum(same_roots)/len(same_roots) < max(same_roots):
                to_pop = []
                for i, same in enumerate(same_roots):
                    if same < max(same_roots):
                        to_pop.append(i)
                        if [new_parents[i], child] not in bad_parents:
                            bad_parents.append([new_parents[i].replace('ё', 'е'), child.replace('ё', 'е')])
                to_pop = to_pop[::-1]
                for i in to_pop:
                    same_roots.pop(i)
                    newer_parents.pop(i)
                    max_derivs.pop(i)
                    begins.pop(i)
                    ends.pop(i)
            new_parents = copy(newer_parents)


            # get rid of least derived
            if 1 in max_derivs and 0 in max_derivs:
                to_pop = []
                for i, deriv in enumerate(max_derivs):
                    if deriv == 0:
                        if [new_parents[i], child] not in bad_parents:
                            bad_parents.append([new_parents[i].replace('ё', 'е'), child.replace('ё', 'е')])
                        to_pop.append(i)
                to_pop = to_pop[::-1]
                for i in to_pop:
                    same_roots.pop(i)
                    newer_parents.pop(i)
                    max_derivs.pop(i)
                    begins.pop(i)
                    ends.pop(i)
            new_parents = copy(newer_parents)


            #get rid of not beginnings
            if 1 in begins and 0 in begins:
                to_pop = []
                for i, begin in enumerate(begins):
                    if begin == 0:
                        if [new_parents[i], child] not in bad_parents:
                            bad_parents.append([new_parents[i].replace('ё', 'е'), child.replace('ё', 'е')])
                        to_pop.append(i)
                to_pop = to_pop[::-1]
                for i in to_pop:
                    same_roots.pop(i)
                    newer_parents.pop(i)
                    max_derivs.pop(i)
                    begins.pop(i)
                    ends.pop(i)
            new_parents = copy(newer_parents)


            #get rid of not endings
            if 1 in ends and 0 in ends:
                to_pop = []
                for i, end in enumerate(ends):
                    if end == 0:
                        if [new_parents[i], child] not in bad_parents:
                            bad_parents.append([new_parents[i].replace('ё', 'е'), child.replace('ё', 'е')])
                        to_pop.append(i)
                to_pop = to_pop[::-1]
                for i in to_pop:
                    same_roots.pop(i)
                    newer_parents.pop(i)
                    max_derivs.pop(i)
                    begins.pop(i)
                    ends.pop(i)
            new_parents = copy(newer_parents)


            clean_parents[child] = new_parents
    parents = clean_parents
    new_length = len(bad_parents)

In [172]:
df_all_parents = []
df_all_children = []
for index, row in df_all.iterrows():
    parent = row['parent'].replace('ё', 'е')
    child = row['child'].replace('ё', 'е')
    if [parent, child] not in bad_parents:
        if parent not in df_all_parents:
            df_all_parents.append(parent)
        if child not in df_all_children:
            df_all_children.append(child)
print(len(df_all_parents))
print(len(df_all_children))

20175
35943

In [173]:
not_ins = []
not_tixs = []
for w in kuzwords:
    if w not in tixwords:
        not_tixs.append(w)
        if w not in df_all_parents and w not in df_all_children:
            if w not in not_ins:
                not_ins.append(w)
print(len(not_ins))
print(len(not_tixs))

5553
38588

In [174]:
for w in not_ins:
    if kuzwords[w][2] not in ['S', 'A', 'D', 'V', 'ANUM', 'APRO', 'NUM', 'SPRO', 'ADV', 'ADVPRO', 'N']:
        not_ins.remove(w)
len(not_ins)

5553

In [175]:
pairs = []
for i, w1 in enumerate(not_ins):
    if i %500 == 0:
        print(i)
    roots1 = kuzwords[w1][1]
    for w2 in kuzwords:
        roots2 = kuzwords[w2][1]
        if w1 != w2:
            t = False
            if set(roots1) & set(roots2):
                t = True
            elif set(root_groups[w1]) & set(root_groups[w2]):
                t = True
            else:
                for r1 in roots1:
                    if r1 + 'ь' in roots2 or r1.replace('ё', 'е') in roots2:
                        t = True
                for r2 in roots2 or r2.replace('ё', 'е') in roots1:
                    if r2 + 'ь' in roots1:
                        t = True
            if t == True:
                pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                if w1 in doublers:
                    pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                if w2 in doublers:
                    pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                if w1 in doublers and w2 in doublers:
                    pairs.append([w2, w1, doublers[w2], doublers[w1]])
                    
                pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                if w1 in doublers:
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                if w2 in doublers:
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                if w1 in doublers and w2 in doublers:
                    pairs.append([w1, w2, doublers[w1], doublers[w2]])

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500

In [176]:
df_not_ins = pd.DataFrame(pairs, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_not_ins.head()

          parent          child pos_p pos_c
0  авиамодельный   авиамоделист     A     N
1   авиамоделист  авиамодельный     N     A
2   авиамоторный   авиамоделист     A     N
3   авиамоделист   авиамоторный     N     A
4      авиасвязь   авиамоделист     N     N

In [177]:
df_not_ins['N_p'], df_not_ins['A_p'], df_not_ins['V_p'], df_not_ins['D_p'] = one_hot_encode(df_not_ins['pos_p'])

In [178]:
df_not_ins['N_c'], df_not_ins['A_c'], df_not_ins['V_c'], df_not_ins['D_c'] = one_hot_encode(df_not_ins['pos_c'])

In [180]:
df_not_ins['lev_dist'], df_not_ins['length'] = dist_lengths(df_not_ins['parent'], df_not_ins['child'])

In [181]:
df_not_ins['roots_p'], df_not_ins['roots_c'], df_not_ins['morphs_p'], df_not_ins['morphs_c'] = morphs(df_not_ins['parent'], df_not_ins['child'], kuzwords)

In [183]:
df_not_ins['onset_p'], df_not_ins['onset_c'], df_not_ins['offset_p'], df_not_ins['offset_c'] = on_off(df_not_ins['parent'], df_not_ins['child'])

In [184]:
df_not_ins['begins'], df_not_ins['ends'] = beginend(df_not_ins['parent'], df_not_ins['child'])

# Get to find the rest of unpredictable parents and children

In [256]:
df_tr_pref.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c,begins,ends,predictions_LogReg,predictions_DecTree
0,августовский,август,A,N,0,1,0,0,1,0,...,0.333333,1.000000,0.500000,1.000000,0.0,0.0,0,0,0,0
1,август,августовский,N,A,1,0,0,0,0,1,...,1.000000,0.333333,1.000000,0.500000,0.0,0.0,1,0,0,1
2,микроанализ,микроавтобус,N,N,1,0,0,0,1,0,...,0.333333,0.500000,0.545455,0.500000,0.0,0.0,0,0,0,0
3,микроаналитический,микроавтобус,A,N,0,1,0,0,1,0,...,0.166667,0.500000,0.333333,0.500000,0.0,0.0,0,0,0,0
4,микровесы,микроавтобус,N,N,1,0,0,0,1,0,...,0.333333,0.500000,0.555556,0.416667,0.0,0.0,0,0,0,0

In [259]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c,begins,ends,predictions_LogReg,predictions_DecTree
0,август,августовский,N,A,1,0,0,0,0,1,...,1.000000,0.333333,1.0,0.5,0.0,0.0,1,0,0,1
1,августовский,август,A,N,0,1,0,0,1,0,...,0.333333,1.000000,0.5,1.0,0.0,0.0,0,0,0,0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0,0,0,0

In [266]:
df_tr_pref['y'] = target_pref
df_traintest['y'] = targets_traintest

In [267]:
wrong_df_pref = df_tr_pref[df_tr_pref.predictions_DecTree == 0]
wrong_traintest = df_traintest[df_traintest.predictions_DecTree == 0]

In [269]:
wrong_df = pd.concat([wrong_df_pref,wrong_traintest]).drop_duplicates()
new_ys = wrong_df['y']

In [275]:
wrong_df = wrong_df.drop(columns=['predictions_LogReg',  'predictions_DecTree', 'y'])

In [276]:
wrong_df_clean = copy(wrong_df)
wrong_df_clean = wrong_df.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [278]:
df_not_ins_clean = copy(df_not_ins)
df_not_ins_clean = df_not_ins_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [279]:
x_train, x_test, y_train, y_test = train_test_split(wrong_df_clean, new_ys, test_size=0.25, random_state = 123)
LogReg3 = LogisticRegression(max_iter=1000)
LogReg3.fit(x_train, y_train)
f1_score(LogReg3.predict(x_test), y_test, average='macro')

0.500472592279398

In [280]:
x_train, x_test, y_train, y_test = train_test_split(wrong_df_clean, new_ys, test_size=0.25, random_state = 123)
DecTree3 = DecisionTreeClassifier()
DecTree3 = DecTree3.fit(x_train, y_train)
f1_score(DecTree3.predict(x_test), y_test, average='macro')

0.5486783819422157

In [290]:
df_not_ins['LogReg'] = LogReg3.predict(df_not_ins_clean)
df_not_ins['DecTree'] = DecTree3.predict(df_not_ins_clean)

In [293]:
df_now_ins = pd.concat([df_not_ins[df_not_ins.LogReg == 1], df_not_ins[df_not_ins.DecTree == 1]]).drop_duplicates()  
len(df_now_ins)

459

In [298]:
df_not_ins = df_not_ins[df_not_ins.LogReg == 0] 
df_not_ins = df_not_ins[df_not_ins.DecTree == 0]
df_not_ins = df_not_ins.drop(columns=['LogReg', 'DecTree'])
len(df_not_ins)

1191286

In [299]:
df_now_ins = df_now_ins.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [300]:
for index, row in df_now_ins.iterrows():
    parent = row['parent'].replace('ё', 'е')
    child = row['child'].replace('ё', 'е')
    pos_p = row['pos_p']
    pos_c = row['pos_c']
    
    
    if [parent, child, pos_p, pos_c] not in pc_sets:
        pc_sets.append([parent, child, pos_p, pos_c])

# Last attempt to find parents

In [301]:
df_not_ins_clean = copy(df_not_ins)
df_not_ins_clean = df_not_ins_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [302]:
df_not_ins['predictions_LogReg'] = LogReg2.predict(df_not_ins_clean)

In [303]:
df_not_ins['predictions_DecTree'] = DecTree2.predict(df_not_ins_clean)

In [304]:
df_not_ins['predictions_LogReg1'] = LogReg1.predict(df_not_ins_clean)

In [305]:
df_not_ins['predictions_DecTree1'] = DecTree1.predict(df_not_ins_clean)

In [306]:
all_predictions = []
for index, row in df_not_ins.iterrows():
    lr = row['predictions_LogReg']
    lr1 = ['predictions_LogReg1']
    dt = row['predictions_DecTree']
    dt1 = row['predictions_DecTree1']
    if lr == 1 or lr1 == 1 or dt == 1 or dt1 == 1:
        all_predictions.append(1)
    else:
        all_predictions.append(0)
df_not_ins['final_prediction'] = all_predictions

In [307]:
df4 = copy(df_not_ins)
df4 = df4.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [308]:
df4 = df4[df4.final_prediction == 1]

In [309]:
len(df4)

3015

In [310]:
for index, row in df4.iterrows():
    parent = row['parent'].replace('ё', 'е')
    child = row['child'].replace('ё', 'е')
    pos_p = row['pos_p']
    pos_c = row['pos_c']
    
    
    if [parent, child, pos_p, pos_c] not in pc_sets:
        pc_sets.append([parent, child, pos_p, pos_c])

In [311]:
df_all = pd.DataFrame(pc_sets)
df_all.columns = ['parent', 'child', 'pos_p', 'pos_c']
df_all.to_csv('final_pairs.csv', encoding='utf-8')

In [312]:
df_all_parents = []
df_all_children = []
for index, row in df_all.iterrows():
    parent = row['parent'].replace('ё', 'е')
    child = row['child'].replace('ё', 'е')
    if [parent, child] not in bad_parents:
        if parent not in df_all_parents:
            df_all_parents.append(parent)
        if child not in df_all_children:
            df_all_children.append(child)
print(len(df_all_parents))
print(len(df_all_children))

21273
37908

In [313]:
not_ins = []
not_tixs = []
for w in kuzwords:
    if w not in tixwords:
        not_tixs.append(w)
        if w not in df_all_parents and w not in df_all_children:
            if w not in not_ins:
                not_ins.append(w)
print(len(not_ins))
print(len(not_tixs))

3557
38588