# Dictionary data

In [1372]:
def cleankuz(word):
    w = word
    
    if word == 'батрацкый':
        w = 'батрацкий'
    if word == 'грязиь':
        w = 'грязь'
    if word == 'кнутрй':
        w = 'кнутри'
    if word == 'трй':
        w = 'три'
    return w

In [1373]:
import csv
kuzwords = {}
doublers = {}
with open('kuzdra_clean.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if cleankuz(row[0]) in kuzwords:
            doublers[cleankuz(row[0])] = kuzwords[cleankuz(row[0])][2]
        r1 = row[1].replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        r2 = row[2].replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        kuzwords[cleankuz(row[0])] = [r1, r2, row[3]]

In [1374]:
len(kuzwords)

73365

In [1375]:
kwords = list(kuzwords.keys())

lost 24 homonyms

In [1376]:
def cleantix(word):
    w = word
    w = w.split('/')[-1]
    
    
    w = w.replace('1', '')
    w = w.replace('2', '')
    w = w.replace('3', '')
    w = w.replace('4', '')
    w = w.replace('5', '')
    w = w.replace('I', '')
    w = w.replace('V', '')
    
    
    if w.endswith(' '):
        w = w = w[:-1]
    if w.endswith('иjе'):
        w = w[:-2] + 'е'
    if w.endswith('иjа'):
        w = w[:-2] + 'я'
    if w.endswith('оjение'):
        w = w[:-5] + 'ение'
    if w.endswith('анjе'):
        w = w[:-5] + 'анье'
    if w.endswith('jецветный'):
        w = w[:-9] + 'ецветный'
    if w.endswith('jе'):
        w = w[:-2] + 'ье'
    if w.endswith('jо'):
        w = w[:-2] + 'ьё'
        
        
    if w.endswith('jа'):
        w = w[:-2] + 'я'
    if w.startswith('двоjе'):
        w = w.replace('двоjе', 'двое')
    if w.startswith('троj'):
        w = w.replace('троj', 'тро')
    if w.startswith('героjи'):
        w = w.replace('героjи', 'герои')
        
        
    w = w.replace('еjе', 'ее')
    w = w.replace('сырjо', 'сырьё')
    w = w.replace('строjитель', 'строитель')
    w = w.replace('краjевой', 'краевой')
    w = w.replace('настраjивать', 'настраивать')
    w = w.replace('молниjе', 'молние')
    w = w.replace('строjе', 'строе')
    
    
    if w == 'третjе':
        w = 'третье'
    if w == 'третjа':
        w = 'третья'
    if w == 'бjущийся':
        w = 'бьющийся'
    if w == 'боjеспособный':
        w = 'боеспособный'
    if w == 'обоjи':
        w = 'обои'
    if w == 'пробоjчик':
        w = 'пробойчик'
    if w == 'чаjеразвеска':
        w = 'чаеразвеска'
    if w == 'молниjевидный':
        w = 'молниевидный'
    if w == 'вjущий':
        w = 'вьющий'
    if w == 'своjевольный':
        w = 'своевольный'
    if w == 'голjом':
        w = 'гольём'
    if w == 'звенjевой':
        w = 'звеньевой'
    if w == 'гореванjице':
        w = 'гореваньице'  
    if w == 'кошачjи':
        w = 'кошачьи'
    if w == 'чешуjекрылый':
        w = 'чешуекрылый'
    if w == 'излиjание':
        w = 'излияние'
    if w == 'помальчишечjи':
        w = 'по-мальчишечьи'
    if w == 'промоjина':
        w = 'промоина'
    if w == 'радиjевый':
        w = 'радиевый'
    if w == 'поjущий':
        w = 'поющий'
    if w == 'пjущий':
        w = 'пьющий'
    if w == 'пjаный':
        w = 'пьяный'
    if w == 'паjивать':
        w = 'паивать'
    if w == 'запоjем':
        w = 'запоем'
    if w == 'своjекоштный':
        w = 'своекоштный'
    if w == 'семjой':
        w = 'семьёй'   
    if w == 'собачjи':
        w = 'собачьи'
    if w == 'стоjащий':
        w = 'стоящий'
    if w == 'стоjачий':
        w = 'стоячий'
    if w == 'стаjивать':
        w = 'стаивать'
    if w == 'твоjи':
        w = 'твои'

        
    if 'j' in w:
        print(w)
    return w

In [1377]:
import json
tixwords = {}
with open('nests.json', encoding='utf-8') as json_file:
    nods = json.load(json_file)
    for nod in nods:
        for n in nod.values():
            for word in n:
                w = cleantix(word['root'])
                if w in kuzwords:
                    if w not in tixwords:
                        derivates = []
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords:
                                derivates.append(d)
                        tixwords[w] = derivates
                    else:
                        derivates = tixwords[w]
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords:
                                derivates.append(d)
                        tixwords[w] = derivates

In [1378]:
len(tixwords)

33384

In [1379]:
twords = list(tixwords.keys())

In [1380]:
nottixkuzwords = {}
for w in kuzwords:
    if w not in tixwords:
        nottixkuzwords[w] = kuzwords[w]

In [1381]:
len(nottixkuzwords)

39981

In [1382]:
ntkwords = list(nottixkuzwords.keys())

In [1383]:
def common_morps(morphs1, morphs2, allomorphs):
    n = 0
    for m2 in morphs2:
        for m1 in morphs1:
            if m2 == m1:
                n += 1
            else:
                for am in allomorphs:
                    if m1 in am and m2 in am:
                        n += 1
    return n

In [1384]:
allomorphs = []
with open('allomorphs.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if sorted(row) not in allomorphs:
            allomorphs.append(sorted(row))
allomorphs.append(['пол', 'полу'])
len(allomorphs)

1049

In [1385]:
root_groups = {}
for w in kuzwords:
    roots = kuzwords[w][1]
    groups = []
    for i, am in enumerate(allomorphs):
        for root in roots:
            if root in am:
                groups.append(i)
    root_groups[w] = groups

In [1386]:
len(root_groups)

73365

# Make pairs

In [1387]:
def make_set(words, kuzwords, doublers):
    pairs = []
    for i in range(15): 
        for j, w1 in enumerate(words):
            if j + i + 1 < len(words):
                w2 = words[j+i + 1]
                if w1 in doublers and w2 in doublers:
                    pairs.append([w1, w2, doublers[w1], doublers[w2]])
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w1 in doublers:
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w2 in doublers:
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                else:
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
          
    return(pairs)

In [1388]:
pairs_traintest = make_set(twords, kuzwords, doublers)

In [1389]:
len(pairs_traintest)

569336

In [1390]:
print(pairs_traintest[1000])

['боеприпасы', 'предбоевой', 'S', 'A']

In [1640]:
pairs = make_set(ntkwords, kuzwords, doublers)

In [1392]:
len(pairs)

680450

In [1395]:
def add_pref(words, kuzwords, doublers, root_groups):
    pairs = []
    for i, w1 in enumerate(words):
        if i %500 == 0:
            print(i)
        roots1 = kuzwords[w1][1]
        for w2 in words:
            roots2 = kuzwords[w2][1]
            if w1 != w2:
                if set(roots1) & set(roots2) or set(root_groups[w1]) & set(root_groups[w2]):
                    pairs.append([w2, w1, kuzwords[w1][2], kuzwords[w2][2]])
                    if w1 in doublers:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                    if w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                    if w1 in doublers and w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
    return(pairs)

In [1396]:
pairs_traintest_pref = add_pref(twords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000

In [1397]:
pairs_pref = add_pref(kwords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000
72500
73000

In [1398]:
len(pairs_traintest_pref)

5494102

In [1399]:
len(pairs_pref)

13261080

In [1641]:
import pandas as pd
df_traintest = pd.DataFrame(pairs_traintest, columns=['parent', 'child', 'pos_p', 'pos_c'])
df = pd.DataFrame(pairs, columns=['parent', 'child', 'pos_p', 'pos_c'])

In [1401]:
df_traintest.head()

         parent           child pos_p pos_c
0        август    августовский     S     A
1  августовский          август     A     S
2  августовский    микроавтобус     A     S
3  микроавтобус    августовский     S     A
4  микроавтобус  телеавтоматика     S     S

In [1402]:
df.head()

          parent          child pos_p pos_c
0   авиамоделист  авиамодельный     S     A
1  авиамодельный   авиамоделист     A     S
2  авиамодельный      авиасвязь     A     S
3      авиасвязь  авиамодельный     S     A
4      авиасвязь       авифауна     S     S

In [1403]:
df_tr_pref = pd.DataFrame(pairs_traintest_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_tr_pref.head()

               parent         child pos_p pos_c
0        августовский        август     S     A
1              август  августовский     A     S
2         микроанализ  микроавтобус     S     S
3  микроаналитический  микроавтобус     S     A
4           микровесы  микроавтобус     S     S

In [1404]:
df_pref = pd.DataFrame(pairs_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_pref.head()

          parent         child pos_p pos_c
0         август  августовский     A     S
1   августовский        август     S     A
2  авиамодельный  авиамоделист     S     A
3   авиамоторный  авиамоделист     S     A
4      авиасвязь  авиамоделист     S     S

# Part-of-speech categories

encode poses

In [1405]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [1406]:
labelencoder = labelencoder.fit(df_traintest['pos_p'])

In [1644]:
df_traintest['pos_p'] = labelencoder.transform(df_traintest['pos_p'])

In [1645]:
df_traintest['pos_c'] = labelencoder.transform(df_traintest['pos_c'])

In [1642]:
df['pos_p'] = labelencoder.transform(df['pos_p'])

In [1643]:
df['pos_c'] = labelencoder.transform(df['pos_c'])

In [1411]:
df_traintest.head()

         parent           child  pos_p  pos_c
0        август    августовский     14      0
1  августовский          август      0     14
2  августовский    микроавтобус      0     14
3  микроавтобус    августовский     14      0
4  микроавтобус  телеавтоматика     14     14

In [1412]:
df.head()

          parent          child  pos_p  pos_c
0   авиамоделист  авиамодельный     14      0
1  авиамодельный   авиамоделист      0     14
2  авиамодельный      авиасвязь      0     14
3      авиасвязь  авиамодельный     14      0
4      авиасвязь       авифауна     14     14

In [1413]:
df_tr_pref['pos_p'] = labelencoder.transform(df_tr_pref['pos_p'])
df_tr_pref['pos_c'] = labelencoder.transform(df_tr_pref['pos_c'])
df_pref['pos_p'] = labelencoder.transform(df_pref['pos_p'])
df_pref['pos_c'] = labelencoder.transform(df_pref['pos_c'])

# Levenshtein distance, length difference

In [1414]:
from Levenshtein import distance as levenshtein_distance

In [1415]:
def dist_lengths(words1, words2):
    dists = []
    lengths = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        dists.append(levenshtein_distance(w1, w2))
        lengths.append(len(w1) - len(w2))
    return dists, lengths

In [1646]:
df_traintest['lev_dist'], df_traintest['length'] = dist_lengths(df_traintest['parent'], df_traintest['child'])

In [1417]:
df_traintest.head()

         parent           child  pos_p  pos_c  lev_dist  length
0        август    августовский     14      0         6      -6
1  августовский          август      0     14         6       6
2  августовский    микроавтобус      0     14        12       0
3  микроавтобус    августовский     14      0        12       0
4  микроавтобус  телеавтоматика     14     14        11      -2

In [1647]:
df['lev_dist'], df['length'] = dist_lengths(df['parent'], df['child'])

In [1419]:
df.head()

          parent          child  pos_p  pos_c  lev_dist  length
0   авиамоделист  авиамодельный     14      0         4      -1
1  авиамодельный   авиамоделист      0     14         4       1
2  авиамодельный      авиасвязь      0     14         8       4
3      авиасвязь  авиамодельный     14      0         8      -4
4      авиасвязь       авифауна     14     14         6       1

In [1420]:
df_tr_pref['lev_dist'], df_tr_pref['length'] = dist_lengths(df_tr_pref['parent'], df_tr_pref['child'])
df_pref['lev_dist'], df_pref['length'] = dist_lengths(df_pref['parent'], df_pref['child'])

# Roots + Morphemes

In [1432]:
def morphs(words1, words2, kuzwords):
    roots = []
    morphs = []
    for i in range(len(words1)):
        morphs1 = kuzwords[words1[i]][0]
        morphs2 = kuzwords[words2[i]][0]
        roots1 = kuzwords[words1[i]][1]
        roots2 = kuzwords[words2[i]][1]
        
        root = len(set(roots1) & set(roots2)) / len(roots1)
        roots.append(root)
        
        
        morph = len(set(morphs1) & set(morphs2)) / len(morphs1)
        morphs.append(morph)
        
        
    return roots, morphs

In [1648]:
df_traintest['roots'], df_traintest['morphs'] = morphs(df_traintest['parent'], df_traintest['child'], kuzwords)

In [1649]:
df['roots'], df['morphs'] = morphs(df['parent'], df['child'], kuzwords)

In [1449]:
df_traintest.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs
0,август,августовский,14,0,6,-6,1.0,1.000000
1,августовский,август,0,14,6,6,1.0,0.333333
2,августовский,микроавтобус,0,14,12,0,0.0,0.000000
3,микроавтобус,августовский,14,0,12,0,0.0,0.000000
4,микроавтобус,телеавтоматика,14,14,11,-2,0.0,0.000000

In [1450]:
df.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs
0,авиамоделист,авиамодельный,14,0,4,-1,0.5,0.333333
1,авиамодельный,авиамоделист,0,14,4,1,0.5,0.250000
2,авиамодельный,авиасвязь,0,14,8,4,0.5,0.250000
3,авиасвязь,авиамодельный,14,0,8,-4,0.5,0.333333
4,авиасвязь,авифауна,14,14,6,1,0.0,0.000000

In [1452]:
df_tr_pref['roots'], df_tr_pref['morphs'] = morphs(df_tr_pref['parent'], df_tr_pref['child'], kuzwords)
df_pref['roots'], df_pref['morphs'] = morphs(df_pref['parent'], df_pref['child'], kuzwords)

# On-off sets

In [1453]:
def on_off(words1, words2):
    ons_p = []
    offs_p = []
    ons_c = []
    offs_c = []
    
    
    for i in range(len(words1)):
        on = 0
        off = 0
        
        length = len(words1[i])
        
        for l in range(length):
            if words2[i].startswith(words1[i][:l + 1]):
                if len(words1[i][:l + 1]) > on:
                    on = len(words1[i][:l + 1])
        ons_p.append(on/len(words1[i]))
        ons_c.append(on/len(words2[i]))
        
        for l in range(length):
            if words2[i].endswith(words1[i][l:length + 1]):
                if len(words1[i][l:length + 1]) > off:
                    off = len(words1[i][l:length + 1])
        offs_p.append(off/len(words1[i]))
        offs_c.append(off/len(words2[i]))
        
    return ons_p, ons_c, offs_p, offs_c

In [1650]:
df_traintest['onset_p'], df_traintest['onset_c'], df_traintest['offset_p'], df_traintest['offset_c'] = on_off(df_traintest['parent'], df_traintest['child'])

In [1651]:
df['onset_p'], df['onset_c'], df['offset_p'], df['offset_c'] = on_off(df['parent'], df['child'])

In [1456]:
df_tr_pref['onset_p'], df_tr_pref['onset_c'], df_tr_pref['offset_p'], df_tr_pref['offset_c'] = on_off(df_tr_pref['parent'], df_tr_pref['child'])
df_pref['onset_p'], df_pref['onset_c'], df_pref['offset_p'], df_pref['offset_c'] = on_off(df_pref['parent'], df_pref['child'])

In [1652]:
df_traintest.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs,onset_p,onset_c,offset_p,offset_c
0,август,августовский,14,0,6,-6,1.0,1.000000,1.0,0.5,0.0,0.0
1,августовский,август,0,14,6,6,1.0,0.333333,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,0,14,12,0,0.0,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,14,0,12,0,0.0,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,14,14,11,-2,0.0,0.000000,0.0,0.0,0.0,0.0

In [1653]:
df.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,14,0,4,-1,0.5,0.333333,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,0,14,4,1,0.5,0.250000,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,0,14,8,4,0.5,0.250000,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,14,0,8,-4,0.5,0.333333,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,14,14,6,1,0.0,0.000000,0.333333,0.375000,0.0,0.0

In [1457]:
df_traintest.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs,onset_p,onset_c,offset_p,offset_c
0,август,августовский,14,0,6,-6,1.0,1.000000,1.0,0.5,0.0,0.0
1,августовский,август,0,14,6,6,1.0,0.333333,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,0,14,12,0,0.0,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,14,0,12,0,0.0,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,14,14,11,-2,0.0,0.000000,0.0,0.0,0.0,0.0

In [1458]:
df.head()

,parent,child,pos_p,pos_c,lev_dist,length,roots,morphs,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,14,0,4,-1,0.5,0.333333,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,0,14,4,1,0.5,0.250000,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,0,14,8,4,0.5,0.250000,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,14,0,8,-4,0.5,0.333333,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,14,14,6,1,0.0,0.000000,0.333333,0.375000,0.0,0.0

# Target

In [1459]:
def targets(words1, words2, tixwords):
    targets = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        if w2 in tixwords[w1]:
            targets.append(1)
        else:
            targets.append(0)
    return targets

In [1460]:
targets_traintest = targets(df_traintest['parent'], df_traintest['child'], tixwords)

In [1461]:
sum(targets_traintest)

25137

In [1462]:
target_pref = targets(df_tr_pref['parent'], df_tr_pref['child'], tixwords)

In [1463]:
sum(target_pref)

33558

# No str

In [1464]:
from copy import copy

In [1465]:
df_traintest_clean = copy(df_traintest)
df_traintest_clean = df_traintest_clean.drop(columns=['parent', 'child'])

In [1466]:
df_clean = copy(df)
df_clean = df_clean.drop(columns=['parent', 'child'])

In [1467]:
df_tr_pref_clean = copy(df_tr_pref)
df_tr_pref_clean = df_tr_pref_clean.drop(columns=['parent', 'child'])

In [1468]:
df_pref_clean = copy(df_pref)
df_pref_clean = df_pref_clean.drop(columns=['parent', 'child'])

# Logistic regression

In [1567]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [1568]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [1569]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [1570]:
LogReg1 = LogisticRegression(max_iter=1000)

In [1571]:
LogReg1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [1572]:
predictions = LogReg1.predict(x_test)

In [1573]:
score = LogReg1.score(x_test, y_test)
print(score)

0.9634732390012225

In [1574]:
f1_score(LogReg1.predict(x_test), y_test, average='macro')

0.7090177415195531

big_batch

In [1578]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [1579]:
LogReg2 = LogisticRegression(max_iter=1000)

In [1580]:
LogReg2.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [1581]:
predictions = LogReg2.predict(x_test)

In [1582]:
score = LogReg2.score(x_test, y_test)
print(score)

0.9943291936228364

In [1583]:
f1_score(LogReg2.predict(x_test), y_test, average='macro')

0.6493253318956925

# Decision Trees

In [1483]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [1484]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [1485]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [1486]:
DecTree1 = DecisionTreeClassifier()

In [1487]:
DecTree1 = DecTree1.fit(x_train,y_train)

In [1488]:
predictions = DecTree1.predict(x_test)

In [1489]:
score = DecTree1.score(x_test, y_test)
print(score)

0.9769556114491267

In [1490]:
f1_score(DecTree1.predict(x_test), y_test, average='macro')

0.8579747913817792

In [1524]:
print(dict(zip(df_clean.columns, DecTree1.feature_importances_)))

{'pos_p': 0.08136215482126488, 'pos_c': 0.056941429334459684, 'lev_dist': 0.12719387937543938, 'length': 0.10066463189992292, 'roots': 0.017119199338950265, 'morphs': 0.27809246174752916, 'onset_p': 0.19624473050336985, 'onset_c': 0.053846350551124945, 'offset_p': 0.058968199265533455, 'offset_c': 0.02956696316240542}

big_batch

In [1491]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [1492]:
DecTree2 = DecisionTreeClassifier()

In [1493]:
DecTree2 = DecTree2.fit(x_train, y_train)

In [1494]:
predictions = DecTree2.predict(x_test)

In [1495]:
score = DecTree2.score(x_test, y_test)
print(score)

0.9961216606019835

In [1496]:
f1_score(DecTree2.predict(x_test), y_test, average='macro')

0.8212569606066031

In [1525]:
print(dict(zip(df_clean.columns, DecTree2.feature_importances_)))

{'pos_p': 0.06544311706467598, 'pos_c': 0.095284437995854, 'lev_dist': 0.14341549533813086, 'length': 0.07771573035940238, 'roots': 0.014117291869817661, 'morphs': 0.27623497094147165, 'onset_p': 0.18121218633673686, 'onset_c': 0.06471898639212526, 'offset_p': 0.05001182732858902, 'offset_c': 0.03184595637319639}

# Real data

In [1657]:
df_traintest['predictions_LogReg'] = LogReg1.predict(df_traintest_clean)

In [1654]:
df['predictions_LogReg'] = LogReg1.predict(df_clean)

In [1499]:
df_tr_pref['predictions_LogReg'] = LogReg2.predict(df_tr_pref_clean)

In [1500]:
df_pref['predictions_LogReg'] = LogReg2.predict(df_pref_clean)

In [1656]:
df_traintest['predictions_DecTree'] = DecTree1.predict(df_traintest_clean)

In [1655]:
df['predictions_DecTree'] = DecTree1.predict(df_clean)

In [1503]:
df_tr_pref['predictions_DecTree'] = DecTree2.predict(df_tr_pref_clean)

In [1504]:
df_pref['predictions_DecTree'] = DecTree2.predict(df_pref_clean)

In [1505]:
df_traintest.to_csv('df_traintest.csv', encoding='utf-8')

In [1506]:
df.to_csv('df.csv', encoding='utf-8')

In [1507]:
df_tr_pref.to_csv('df_tr_pref.csv', encoding='utf-8')

In [1508]:
df_pref.to_csv('df_pref.csv', encoding='utf-8')

# Get parent_child pairs

In [1629]:
pp_pairs = []
for parent in tixwords:
    for child in tixwords[parent]:
        if [parent, child] not in pp_pairs:
            pp_pairs.append([parent, child])
len(pp_pairs)

35558

consequent

In [1691]:
df1 = copy(df)
df1 = df1.drop(columns=['predictions_LogReg', 'onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots', 'morphs', 'lev_dist', 'length'])

In [1692]:
df1 = df1[df1.predictions_DecTree == 1]

In [1693]:
df1.head()

           parent            child  pos_p  pos_c  predictions_DecTree
1   авиамодельный     авиамоделист      0     14                    1
21        автоген       автогенщик     14     14                    1
39     автократия  автократический     14      0                    1
71      автотипия   автотипический     14      0                    1
93            ага          ага-хан      7     14                    1

In [1694]:
parents1 = df1['parent'].tolist()
children1 = df1['child'].tolist()
poses_p1 = df1['pos_p'].tolist()
poses_c1 = df1['pos_c'].tolist()

In [1695]:
parents_kuz1 = []
children_kuz1 = []
poses_p_kuz1 = []
poses_c_kuz1 = []
for i in range(len(parents1)):
    if [parents1[i], children1[i]] not in pp_pairs:
        parents_kuz1.append(parents1[i])
        children_kuz1.append(children1[i])
        poses_p_kuz1.append(poses_p1[i])
        poses_c_kuz1.append(poses_c1[i])

In [1696]:
len(parents_kuz1)

39506

In [1697]:
poses_p_norm1 = labelencoder.inverse_transform(poses_p_kuz1)
poses_c_norm1 = labelencoder.inverse_transform(poses_c_kuz1)

remoted

In [1698]:
df2 = copy(df_pref)
df2 = df2.drop(columns=['predictions_LogReg', 'onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots', 'morphs', 'lev_dist', 'length'])

In [1699]:
df2 = df2[df2.predictions_DecTree == 1]

In [1700]:
df2.head()

         parent          child  pos_p  pos_c  predictions_DecTree
0        август   августовский      0     14                    1
61        авось        авоська     14     10                    1
498     автоген     автогенщик     14     14                    1
1725   заправка   автозаправка     14     14                    1
2096  заправщик  автозаправщик     14     14                    1

In [1701]:
parents2 = df2['parent'].tolist()
children2 = df2['child'].tolist()
poses_p2 = df2['pos_p'].tolist()
poses_c2 = df2['pos_c'].tolist()

In [1702]:
parents_kuz2 = []
children_kuz2 = []
poses_p_kuz2 = []
poses_c_kuz2 = []
for i in range(len(parents2)):
    if [parents2[i], children2[i]] not in pp_pairs:
        parents_kuz2.append(parents2[i])
        children_kuz2.append(children2[i])
        poses_p_kuz2.append(poses_p2[i])
        poses_c_kuz2.append(poses_c2[i])

In [1703]:
len(parents_kuz2)

36601

In [1704]:
poses_p_norm2 = labelencoder.inverse_transform(poses_p_kuz2)
poses_c_norm2 = labelencoder.inverse_transform(poses_c_kuz2)

unite

In [1709]:
len(parents_kuz1)

39506

In [1710]:
pc_sets = []
for i in range(len(parents_kuz1)):
    set1 = [parents_kuz1[i], children_kuz1[i], poses_p_norm1[i], poses_c_norm1[i]]
    if set1 not in pc_sets:
        pc_sets.append(set1)

In [1711]:
len(pc_sets)

39506

In [1712]:
for i in range(len(parents_kuz2)):
    set2 = [parents_kuz2[i], children_kuz2[i], poses_p_norm2[i], poses_c_norm2[i]]
    if set2 not in pc_sets:
        pc_sets.append(set2)

In [1713]:
len(pc_sets)

66701

In [1714]:
df_all = pd.DataFrame(pc_sets)

In [1715]:
df_all.columns = ['parent', 'child', 'pos_p', 'pos_c']

In [1716]:
df_all.head()

          parent            child pos_p pos_c
0  авиамодельный     авиамоделист     A     S
1        автоген       автогенщик     S     S
2     автократия  автократический     S     A
3      автотипия   автотипический     S     A
4            ага          ага-хан  INTJ     S

In [1717]:
df_all.to_csv('final_pairs.csv', encoding='utf-8')