# Dictionary data

get the dictionary of kuznetsova

In [40]:
def cleankuz(word):
    w = word.replace('ё', 'е')
    
    if word == 'батрацкый':
        w = 'батрацкий'
    if word == 'грязиь':
        w = 'грязь'
    if word == 'кнутрй':
        w = 'кнутри'
    if word == 'трй':
        w = 'три'
    if word == 'молокй':
        w = 'молокий'
    if word == 'молочиый':
        w = 'молочный'
    if word == 'непостижиый':
        w = 'непостижимый'
    if word == 'окунеый':
        w = 'окуневый'
    if word == 'пригожй':
        w = 'пригожий'
    if word == 'уличиый':
        w = 'уличный'
    if word == 'минувшый':
        w = 'минувший'
    if word == 'сладенькнй':
        w = 'сладенький'
    if word == 'любый':
        w = 'любой'
    return w

In [41]:
import csv
kuzwords = {}
doublers = {}
with open('kuzdra_clean.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if cleankuz(row[0]) in kuzwords:
            doublers[cleankuz(row[0])] = kuzwords[cleankuz(row[0])][2]
        r1 = row[1].replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        r2 = row[2].replace(' ', '').replace('"', '').replace('[', '').replace(']', '').replace("'", '').split(',')
        kuzwords[cleankuz(row[0])] = [r1, r2, row[3]]

In [42]:
len(kuzwords)

73362

In [43]:
kwords = list(kuzwords.keys())

lost 24 homonyms

get the dictionary of tixonov

In [44]:
def cleantix(word):
    w = word
    w = w.split('/')[-1]
    
    
    w = w.replace('1', '')
    w = w.replace('2', '')
    w = w.replace('3', '')
    w = w.replace('4', '')
    w = w.replace('5', '')
    w = w.replace('I', '')
    w = w.replace('V', '')
    w = w.replace('(', '')
    w = w.replace(')', '')
    
    
    if w.endswith(' '):
        w = w = w[:-1]
    if w.endswith('иjе'):
        w = w[:-2] + 'е'
    if w.endswith('иjа'):
        w = w[:-2] + 'я'
    if w.endswith('оjение'):
        w = w[:-5] + 'ение'
    if w.endswith('анjе'):
        w = w[:-5] + 'анье'
    if w.endswith('jецветный'):
        w = w[:-9] + 'ецветный'
    if w.endswith('jе'):
        w = w[:-2] + 'ье'
    if w.endswith('jо'):
        w = w[:-2] + 'ьё'
        
        
    if w.endswith('jа'):
        w = w[:-2] + 'я'
    if w.startswith('двоjе'):
        w = w.replace('двоjе', 'двое')
    if w.startswith('троj'):
        w = w.replace('троj', 'тро')
    if w.startswith('героjи'):
        w = w.replace('героjи', 'герои')
        
        
    w = w.replace('еjе', 'ее')
    w = w.replace('сырjо', 'сырьё')
    w = w.replace('строjитель', 'строитель')
    w = w.replace('краjевой', 'краевой')
    w = w.replace('настраjивать', 'настраивать')
    w = w.replace('молниjе', 'молние')
    w = w.replace('строjе', 'строе')
    
    
    if w == 'третjе':
        w = 'третье'
    if w == 'третjа':
        w = 'третья'
    if w == 'бjущийся':
        w = 'бьющийся'
    if w == 'боjеспособный':
        w = 'боеспособный'
    if w == 'обоjи':
        w = 'обои'
    if w == 'пробоjчик':
        w = 'пробойчик'
    if w == 'чаjеразвеска':
        w = 'чаеразвеска'
    if w == 'молниjевидный':
        w = 'молниевидный'
    if w == 'вjущий':
        w = 'вьющий'
    if w == 'своjевольный':
        w = 'своевольный'
    if w == 'голjом':
        w = 'гольём'
    if w == 'звенjевой':
        w = 'звеньевой'
    if w == 'гореванjице':
        w = 'гореваньице'  
    if w == 'кошачjи':
        w = 'кошачьи'
    if w == 'чешуjекрылый':
        w = 'чешуекрылый'
    if w == 'излиjание':
        w = 'излияние'
    if w == 'помальчишечjи':
        w = 'по-мальчишечьи'
    if w == 'промоjина':
        w = 'промоина'
    if w == 'радиjевый':
        w = 'радиевый'
    if w == 'поjущий':
        w = 'поющий'
    if w == 'пjущий':
        w = 'пьющий'
    if w == 'пjаный':
        w = 'пьяный'
    if w == 'паjивать':
        w = 'паивать'
    if w == 'запоjем':
        w = 'запоем'
    if w == 'своjекоштный':
        w = 'своекоштный'
    if w == 'семjой':
        w = 'семьёй'   
    if w == 'собачjи':
        w = 'собачьи'
    if w == 'стоjащий':
        w = 'стоящий'
    if w == 'стоjачий':
        w = 'стоячий'
    if w == 'стаjивать':
        w = 'стаивать'
    if w == 'твоjи':
        w = 'твои'

        
    if 'j' in w:
        print(w)
    return w

In [45]:
import json
tixwords = {}
with open('nests.json', encoding='utf-8') as json_file:
    nods = json.load(json_file)
    for nod in nods:
        for n in nod.values():
            for word in n:
                w = cleantix(word['root'])
                if w in kuzwords:
                    if w not in tixwords:
                        derivates = []
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        tixwords[w] = derivates
                    else:
                        derivates = tixwords[w]
                        for deriv in word['ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        for deriv in word['non-ambiguous']:
                            d = cleantix(deriv)
                            if d not in derivates and d in kuzwords and d != w:
                                derivates.append(d)
                        tixwords[w] = derivates

In [46]:
len(tixwords)

33386

In [47]:
twords = list(tixwords.keys())

get what is in tixonov, but isn't in kuznetsova

In [48]:
nottixkuzwords = {}
for w in kuzwords:
    if w not in tixwords:
        nottixkuzwords[w] = kuzwords[w]

In [49]:
len(nottixkuzwords)

39976

In [50]:
ntkwords = list(nottixkuzwords.keys())

get root allomorphs

In [51]:
def common_morps(morphs1, morphs2, allomorphs):
    n = 0
    for m2 in morphs2:
        for m1 in morphs1:
            if m2 == m1:
                n += 1
            else:
                for am in allomorphs:
                    if m1 in am and m2 in am:
                        n += 1
    return n

In [52]:
allomorphs = []
with open('allomorphs.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        if sorted(row) not in allomorphs:
            allomorphs.append(sorted(row))
allomorphs.append(['пол', 'полу'])
len(allomorphs)

1049

In [53]:
root_groups = {}
for w in kuzwords:
    roots = kuzwords[w][1]
    groups = []
    for i, am in enumerate(allomorphs):
        for root in roots:
            if root in am:
                groups.append(i)
    root_groups[w] = groups

In [54]:
len(root_groups)

73362

# Get the four parts of speech

In [55]:
from copy import copy
from copy import deepcopy

In [56]:
old_kuzwords = deepcopy(kuzwords)
kuzwords = {}

In [57]:
from pymystem3 import Mystem
m = Mystem()

In [58]:
for w in old_kuzwords:
    pos = old_kuzwords[w][2]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos == 'A' or pos == 'ANUM' or pos == 'APRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'A']
    elif pos == 'V':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'V']
    elif pos == 'S' or pos == 'NUM' or pos == 'SPRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'N']
    elif pos == 'ADV' or pos == 'ADVPRO':
        kuzwords[w] = [old_kuzwords[w][0], old_kuzwords[w][1], 'D']

In [59]:
len(kuzwords)

73242

In [60]:
kwords = list(kuzwords.keys())

clear tixonov

In [61]:
old_tixwords = deepcopy(tixwords)
tixwords = {}

In [62]:
for w in old_tixwords:
    pos = old_kuzwords[w][2]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos in ['S', 'A', 'D', 'V', 'ANUM', 'APRO', 'NUM', 'SPRO', 'ADV', 'ADVPRO']:
        tixwords[w] = old_tixwords[w]

In [63]:
len(tixwords)

33360

In [64]:
twords = list(tixwords.keys())

new_difference

In [65]:
nottixkuzwords = {}
for w in kuzwords:
    if w not in tixwords:
        nottixkuzwords[w] = kuzwords[w]

In [66]:
len(nottixkuzwords)

39882

In [67]:
ntkwords = list(nottixkuzwords.keys())

clean doublers

In [68]:
old_doublers = deepcopy(doublers)
doublers = {}

In [69]:
for w in old_doublers:
    pos = old_doublers[w]
    if pos in ['PRAEDIC', 'CONJ', 'PR', 'PARENTH', 'NONLEX']:
        pos = m.analyze(w)[0]['analysis'][0]['gr'].split(',')[0].split('(')[0].split('=')[0]
    if pos == 'A' or pos == 'ANUM' or pos == 'APRO':
        pos = 'A'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'V':
        pos = 'V'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'S' or pos == 'NUM' or pos == 'SPRO':
        pos = 'N'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos
    elif pos == 'ADV' or pos == 'ADVPRO':
        pos = 'D'
        if w in kuzwords:
            if kuzwords[w][2] != pos:
                doublers[w] = pos

# Make pairs

from closest neighbours

In [70]:
def make_set(words, kuzwords, doublers):
    pairs = []
    for i in range(15): 
        for j, w1 in enumerate(words):
            if j + i + 1 < len(words):
                w2 = words[j+i + 1]
                if w1 in doublers and w2 in doublers:
                    pairs.append([w1, w2, doublers[w1], doublers[w2]])
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w1 in doublers:
                    pairs.append([w1, w2, doublers[w1], kuzwords[w2][2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                elif w2 in doublers:
                    pairs.append([w1, w2, kuzwords[w1][2], doublers[w2]])
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
                
                
                else:
                    pairs.append([w1, w2, kuzwords[w1][2], kuzwords[w2][2]])
                    
                    if i < 2:
                        pairs.append([w2, w1, kuzwords[w2][2], kuzwords[w1][2]])
          
    return(pairs)

In [71]:
pairs_traintest = make_set(twords, kuzwords, doublers)

In [72]:
len(pairs_traintest)

567924

In [73]:
print(pairs_traintest[1000])

['боеприпасы', 'предбоевой', 'N', 'A']

In [74]:
pairs = make_set(ntkwords, kuzwords, doublers)

In [75]:
len(pairs)

678075

from shared roots

In [76]:
def add_pref(words, kuzwords, doublers, root_groups):
    pairs = []
    for i, w1 in enumerate(words):
        if i %500 == 0:
            print(i)
        roots1 = kuzwords[w1][1]
        for w2 in words:
            roots2 = kuzwords[w2][1]
            if w1 != w2:
                t = False
                if set(roots1) & set(roots2):
                    t = True
                elif set(root_groups[w1]) & set(root_groups[w2]):
                    t = True
                else:
                    for r1 in roots1:
                        if r1 + 'ь' in roots2 or r1.replace('ё', 'е') in roots2:
                            t = True
                    for r2 in roots2 or r2.replace('ё', 'е') in roots1:
                        if r2 + 'ь' in roots1:
                            t = True
                if t == True:
                    pairs.append([w2, w1, kuzwords[w1][2], kuzwords[w2][2]])
                    if w1 in doublers:
                        pairs.append([w2, w1, kuzwords[w2][2], doublers[w1]])
                    if w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], kuzwords[w1][2]])
                    if w1 in doublers and w2 in doublers:
                        pairs.append([w2, w1, doublers[w2], doublers[w1]])
    return(pairs)

In [77]:
pairs_traintest_pref = add_pref(twords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000

In [78]:
pairs_pref = add_pref(kwords, kuzwords, doublers, root_groups)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000
72500
73000

In [79]:
len(pairs_traintest_pref)

5508070

In [80]:
len(pairs_pref)

13277200

In [81]:
import pandas as pd

In [82]:
df_traintest = pd.DataFrame(pairs_traintest, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_traintest.head()

         parent           child pos_p pos_c
0        август    августовский     N     A
1  августовский          август     A     N
2  августовский    микроавтобус     A     N
3  микроавтобус    августовский     N     A
4  микроавтобус  телеавтоматика     N     N

In [83]:
df = pd.DataFrame(pairs, columns=['parent', 'child', 'pos_p', 'pos_c'])
df.head()

          parent          child pos_p pos_c
0   авиамоделист  авиамодельный     N     A
1  авиамодельный   авиамоделист     A     N
2  авиамодельный      авиасвязь     A     N
3      авиасвязь  авиамодельный     N     A
4      авиасвязь       авифауна     N     N

In [84]:
df_tr_pref = pd.DataFrame(pairs_traintest_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_tr_pref.head()

               parent         child pos_p pos_c
0        августовский        август     N     A
1              август  августовский     A     N
2         микроанализ  микроавтобус     N     N
3  микроаналитический  микроавтобус     N     A
4           микровесы  микроавтобус     N     N

In [85]:
df_pref = pd.DataFrame(pairs_pref, columns=['parent', 'child', 'pos_p', 'pos_c'])
df_pref.head()

          parent         child pos_p pos_c
0         август  августовский     A     N
1   августовский        август     N     A
2  авиамодельный  авиамоделист     N     A
3   авиамоторный  авиамоделист     N     A
4      авиасвязь  авиамоделист     N     N

# Part-of-speech categories

one hot encoding

In [86]:
from sklearn import preprocessing

In [87]:
lb = preprocessing.LabelBinarizer()
lb.fit(['N', 'A', 'D', 'V'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [88]:
lb.transform(['N', 'A', 'D', 'V'])

array([[0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1]])

In [89]:
import numpy as np

In [91]:
def one_hot_encode(poses):
    new_poses = lb.transform(poses).T
    N = new_poses[2]
    A = new_poses[0]
    D = new_poses[1]
    V = new_poses[3]
    return N, A, D, V

In [92]:
df_traintest['N_p'], df_traintest['A_p'], df_traintest['V_p'], df_traintest['D_p'] = one_hot_encode(df_traintest['pos_p'])

In [93]:
df['N_p'], df['A_p'], df['V_p'], df['D_p'] = one_hot_encode(df['pos_p'])

In [94]:
df_tr_pref['N_p'], df_tr_pref['A_p'], df_tr_pref['V_p'], df_tr_pref['D_p'] = one_hot_encode(df_tr_pref['pos_p'])

In [95]:
df_pref['N_p'], df_pref['A_p'], df_pref['V_p'], df_pref['D_p'] = one_hot_encode(df_pref['pos_p'])

In [96]:
df_traintest['N_c'], df_traintest['A_c'], df_traintest['V_c'], df_traintest['D_c'] = one_hot_encode(df_traintest['pos_c'])

In [97]:
df['N_c'], df['A_c'], df['V_c'], df['D_c'] = one_hot_encode(df['pos_c'])

In [98]:
df_tr_pref['N_c'], df_tr_pref['A_c'], df_tr_pref['V_c'], df_tr_pref['D_c'] = one_hot_encode(df_tr_pref['pos_c'])

In [99]:
df_pref['N_c'], df_pref['A_c'], df_pref['V_c'], df_pref['D_c'] = one_hot_encode(df_pref['pos_c'])

In [100]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,август,августовский,N,A,1,0,0,0,0,1,0,0
1,августовский,август,A,N,0,1,0,0,1,0,0,0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0

In [101]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0

In [102]:
df_tr_pref.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,августовский,август,N,A,1,0,0,0,0,1,0,0
1,август,августовский,A,N,0,1,0,0,1,0,0,0
2,микроанализ,микроавтобус,N,N,1,0,0,0,1,0,0,0
3,микроаналитический,микроавтобус,N,A,1,0,0,0,0,1,0,0
4,микровесы,микроавтобус,N,N,1,0,0,0,1,0,0,0

In [103]:
df_pref.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c
0,август,августовский,A,N,0,1,0,0,1,0,0,0
1,августовский,август,N,A,1,0,0,0,0,1,0,0
2,авиамодельный,авиамоделист,N,A,1,0,0,0,0,1,0,0
3,авиамоторный,авиамоделист,N,A,1,0,0,0,0,1,0,0
4,авиасвязь,авиамоделист,N,N,1,0,0,0,1,0,0,0

# Levenshtein distance, length difference

In [104]:
from Levenshtein import distance as levenshtein_distance

In [105]:
def dist_lengths(words1, words2):
    dists = []
    lengths = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        dists.append(levenshtein_distance(w1, w2))
        lengths.append(len(w1) - len(w2))
    return dists, lengths

In [106]:
df_traintest['lev_dist'], df_traintest['length'] = dist_lengths(df_traintest['parent'], df_traintest['child'])

In [107]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length
0,август,августовский,N,A,1,0,0,0,0,1,0,0,6,-6
1,августовский,август,A,N,0,1,0,0,1,0,0,0,6,6
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0,12,0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0,12,0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0,11,-2

In [108]:
df['lev_dist'], df['length'] = dist_lengths(df['parent'], df['child'])

In [109]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0,4,-1
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0,4,1
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0,8,4
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0,8,-4
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0,6,1

In [110]:
df_tr_pref['lev_dist'], df_tr_pref['length'] = dist_lengths(df_tr_pref['parent'], df_tr_pref['child'])

In [111]:
df_pref['lev_dist'], df_pref['length'] = dist_lengths(df_pref['parent'], df_pref['child'])

# Roots + Morphemes

In [112]:
def morphs(words1, words2, kuzwords):
    roots_p = []
    roots_c = []
    morphs_p = []
    morphs_c = []
    
    for i in range(len(words1)):
        morphs1 = kuzwords[words1[i]][0]
        morphs2 = kuzwords[words2[i]][0]
        roots1 = kuzwords[words1[i]][1]
        roots2 = kuzwords[words2[i]][1]
        
        root = len(set(roots1) & set(roots2))
        roots_p.append(root / len(roots1))
        roots_c.append(root / len(roots2))
        
        
        morph = len(set(morphs1) & set(morphs2)) 
        morphs_p.append(morph / len(morphs1))
        morphs_c.append(morph / len(morphs2))
        
        
    return roots_p, roots_c, morphs_p, morphs_c

In [113]:
df_traintest['roots_p'], df_traintest['roots_c'], df_traintest['morphs_p'], df_traintest['morphs_c'] = morphs(df_traintest['parent'], df_traintest['child'], kuzwords)

In [114]:
df['roots_p'], df['roots_c'], df['morphs_p'], df['morphs_c'] = morphs(df['parent'], df['child'], kuzwords)

In [115]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c
0,август,августовский,N,A,1,0,0,0,0,1,0,0,6,-6,1.0,1.0,1.000000,0.333333
1,августовский,август,A,N,0,1,0,0,1,0,0,0,6,6,1.0,1.0,0.333333,1.000000
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,0,0,12,0,0.0,0.0,0.000000,0.000000
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,0,0,12,0,0.0,0.0,0.000000,0.000000
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,0,0,11,-2,0.0,0.0,0.000000,0.000000

In [116]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,V_c,D_c,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,0,0,4,-1,0.5,0.5,0.333333,0.250000
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,0,0,4,1,0.5,0.5,0.250000,0.333333
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,0,0,8,4,0.5,0.5,0.250000,0.333333
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,0,0,8,-4,0.5,0.5,0.333333,0.250000
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,0,0,6,1,0.0,0.0,0.000000,0.000000

In [117]:
df_tr_pref['roots_p'], df_tr_pref['roots_c'], df_tr_pref['morphs_p'], df_tr_pref['morphs_c'] = morphs(df_tr_pref['parent'], df_tr_pref['child'], kuzwords)

In [118]:
df_pref['roots_p'], df_pref['roots_c'], df_pref['morphs_p'], df_pref['morphs_c'] = morphs(df_pref['parent'], df_pref['child'], kuzwords)

# On-off sets

In [119]:
def on_off(words1, words2):
    ons_p = []
    offs_p = []
    ons_c = []
    offs_c = []
    
    
    for i in range(len(words1)):
        on = 0
        off = 0
        
        length = len(words1[i])
        
        for l in range(length):
            if words2[i].startswith(words1[i][:l + 1]):
                if len(words1[i][:l + 1]) > on:
                    on = len(words1[i][:l + 1])

        ons_p.append(on/len(words1[i]))
        ons_c.append(on/len(words2[i]))

        
        for l in range(length):
            if words2[i].endswith(words1[i][l:length + 1]):
                if len(words1[i][l:length + 1]) > off:
                    off = len(words1[i][l:length + 1])
        offs_p.append(off/len(words1[i]))
        offs_c.append(off/len(words2[i]))

        
    return ons_p, ons_c, offs_p, offs_c

In [120]:
df_traintest['onset_p'], df_traintest['onset_c'], df_traintest['offset_p'], df_traintest['offset_c'] = on_off(df_traintest['parent'], df_traintest['child'])

In [121]:
df['onset_p'], df['onset_c'], df['offset_p'], df['offset_c'] = on_off(df['parent'], df['child'])

In [122]:
df_tr_pref['onset_p'], df_tr_pref['onset_c'], df_tr_pref['offset_p'], df_tr_pref['offset_c'] = on_off(df_tr_pref['parent'], df_tr_pref['child'])

In [123]:
df_pref['onset_p'], df_pref['onset_c'], df_pref['offset_p'], df_pref['offset_c'] = on_off(df_pref['parent'], df_pref['child'])

In [124]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,август,августовский,N,A,1,0,0,0,0,1,...,6,-6,1.0,1.0,1.000000,0.333333,1.0,0.5,0.0,0.0
1,августовский,август,A,N,0,1,0,0,1,0,...,6,6,1.0,1.0,0.333333,1.000000,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,...,11,-2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [125]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,...,4,-1,0.5,0.5,0.333333,0.250000,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,...,4,1,0.5,0.5,0.250000,0.333333,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,...,8,4,0.5,0.5,0.250000,0.333333,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,...,8,-4,0.5,0.5,0.333333,0.250000,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,...,6,1,0.0,0.0,0.000000,0.000000,0.333333,0.375000,0.0,0.0

In [126]:
df_traintest.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,август,августовский,N,A,1,0,0,0,0,1,...,6,-6,1.0,1.0,1.000000,0.333333,1.0,0.5,0.0,0.0
1,августовский,август,A,N,0,1,0,0,1,0,...,6,6,1.0,1.0,0.333333,1.000000,0.5,1.0,0.0,0.0
2,августовский,микроавтобус,A,N,0,1,0,0,1,0,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,микроавтобус,августовский,N,A,1,0,0,0,0,1,...,12,0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,микроавтобус,телеавтоматика,N,N,1,0,0,0,1,0,...,11,-2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [127]:
df.head()

,parent,child,pos_p,pos_c,N_p,A_p,V_p,D_p,N_c,A_c,...,lev_dist,length,roots_p,roots_c,morphs_p,morphs_c,onset_p,onset_c,offset_p,offset_c
0,авиамоделист,авиамодельный,N,A,1,0,0,0,0,1,...,4,-1,0.5,0.5,0.333333,0.250000,0.750000,0.692308,0.0,0.0
1,авиамодельный,авиамоделист,A,N,0,1,0,0,1,0,...,4,1,0.5,0.5,0.250000,0.333333,0.692308,0.750000,0.0,0.0
2,авиамодельный,авиасвязь,A,N,0,1,0,0,1,0,...,8,4,0.5,0.5,0.250000,0.333333,0.307692,0.444444,0.0,0.0
3,авиасвязь,авиамодельный,N,A,1,0,0,0,0,1,...,8,-4,0.5,0.5,0.333333,0.250000,0.444444,0.307692,0.0,0.0
4,авиасвязь,авифауна,N,N,1,0,0,0,1,0,...,6,1,0.0,0.0,0.000000,0.000000,0.333333,0.375000,0.0,0.0

# Beginning Ending

In [234]:
def beginend(words1, words2):
    begins = []
    ends = []

    
    for i in range(len(words1)):
        if words2[i].startswith(words1[i]):
            begins.append(1)
        else:
            begins.append(0)
        
        if words2[i].endswith(words1[i]):
            ends.append(1)
        else:
            ends.append(0)

        
    return begins, ends

In [236]:
df_traintest['begins'], df_traintest['ends'] = beginend(df_traintest['parent'], df_traintest['child'])

In [237]:
df['begins'], df['ends'] = beginend(df['parent'], df['child'])

In [238]:
df_tr_pref['begins'], df_tr_pref['ends'] = beginend(df_tr_pref['parent'], df_tr_pref['child'])

In [239]:
df_pref['begins'], df_pref['ends'] = beginend(df_pref['parent'], df_pref['child'])

# Target

In [240]:
def targets(words1, words2, tixwords):
    targets = []
    for i in range(len(words1)):
        w1 = words1[i]
        w2 = words2[i]
        if w2 in tixwords[w1]:
            targets.append(1)
        else:
            targets.append(0)
    return targets

In [241]:
targets_traintest = targets(df_traintest['parent'], df_traintest['child'], tixwords)

In [242]:
sum(targets_traintest)

25061

In [243]:
target_pref = targets(df_tr_pref['parent'], df_tr_pref['child'], tixwords)

In [244]:
sum(target_pref)

33535

# No str

In [245]:
df_traintest_clean = copy(df_traintest)
df_traintest_clean = df_traintest_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [246]:
df_clean = copy(df)
df_clean = df_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [247]:
df_tr_pref_clean = copy(df_tr_pref)
df_tr_pref_clean = df_tr_pref_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

In [248]:
df_pref_clean = copy(df_pref)
df_pref_clean = df_pref_clean.drop(columns=['parent', 'child', 'pos_p', 'pos_c'])

# Logistic regression

In [249]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [250]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [251]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [252]:
LogReg1 = LogisticRegression(max_iter=1000)

In [253]:
LogReg1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [254]:
predictions = LogReg1.predict(x_test)

In [255]:
score = LogReg1.score(x_test, y_test)
print(score)

0.9779125375930582

In [256]:
f1_score(LogReg1.predict(x_test), y_test, average='macro')

0.8664373979927724

big_batch

In [257]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [258]:
LogReg2 = LogisticRegression(max_iter=1000)

In [259]:
LogReg2.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [260]:
predictions = LogReg2.predict(x_test)

In [261]:
score = LogReg2.score(x_test, y_test)
print(score)

0.9963769536781655

In [262]:
f1_score(LogReg2.predict(x_test), y_test, average='macro')

0.8335946608718177

# Decision Trees

In [263]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [264]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [265]:
x_train, x_test, y_train, y_test = train_test_split(df_traintest_clean, targets_traintest, test_size=0.25, random_state = 123)

In [266]:
DecTree1 = DecisionTreeClassifier()

In [267]:
DecTree1 = DecTree1.fit(x_train,y_train)

In [268]:
predictions = DecTree1.predict(x_test)

In [269]:
score = DecTree1.score(x_test, y_test)
print(score)

0.9776096801684733

In [270]:
f1_score(DecTree1.predict(x_test), y_test, average='macro')

0.8654954269609947

In [271]:
print(dict(zip(df_clean.columns, DecTree1.feature_importances_)))

{'N_p': 0.002431682311633533, 'A_p': 0.0009157175359645134, 'V_p': 0.0003007817174612436, 'D_p': 0.0022080442526713714, 'N_c': 0.0018466758691003133, 'A_c': 0.0021161590949492592, 'V_c': 0.0003695621257455393, 'D_c': 0.002175254179333699, 'lev_dist': 0.009733420830504472, 'length': 0.010472213726424429, 'roots_p': 0.0014795761192684892, 'roots_c': 0.003252910553146468, 'morphs_p': 0.010316709733120944, 'morphs_c': 0.013390455125681384, 'onset_p': 0.011979150618936216, 'onset_c': 0.01081286347030571, 'offset_p': 0.0023614089098645116, 'offset_c': 0.004662657276326462, 'predictions_LogReg': 0.0016177790078139651, 'predictions_DecTree': 0.9056440095677007, 'begins': 0.001759278816636515, 'ends': 0.00015368915741022468}

big_batch

In [272]:
x_train, x_test, y_train, y_test = train_test_split(df_tr_pref_clean, target_pref, test_size=0.25, random_state = 123)

In [273]:
DecTree2 = DecisionTreeClassifier()

In [274]:
DecTree2 = DecTree2.fit(x_train, y_train)

In [275]:
predictions = DecTree2.predict(x_test)

In [276]:
score = DecTree2.score(x_test, y_test)
print(score)

0.9963224881591962

In [277]:
f1_score(DecTree2.predict(x_test), y_test, average='macro')

0.833520368288238

In [278]:
print(dict(zip(df_clean.columns, DecTree2.feature_importances_)))

{'N_p': 0.003361160304941602, 'A_p': 0.002486678593279086, 'V_p': 0.0007615983755927703, 'D_p': 0.0027653813085456625, 'N_c': 0.0030134659312447587, 'A_c': 0.0015185088218769701, 'V_c': 0.0005431292355451013, 'D_c': 0.006693769469146458, 'lev_dist': 0.01610903943468789, 'length': 0.012456431318331402, 'roots_p': 0.002841789437540069, 'roots_c': 0.004589080838254471, 'morphs_p': 0.020345941027303503, 'morphs_c': 0.019551318232774343, 'onset_p': 0.01435172487295466, 'onset_c': 0.014285042187567506, 'offset_p': 0.003582788377794248, 'offset_c': 0.010479831800548988, 'predictions_LogReg': 0.0008091512857431119, 'predictions_DecTree': 0.8578404274442202, 'begins': 0.0006441062089822612, 'ends': 0.000969635493124858}

# Save data

In [279]:
df_traintest['predictions_LogReg'] = LogReg1.predict(df_traintest_clean)

In [280]:
df['predictions_LogReg'] = LogReg1.predict(df_clean)

In [281]:
df_tr_pref['predictions_LogReg'] = LogReg2.predict(df_tr_pref_clean)

In [282]:
df_pref['predictions_LogReg'] = LogReg2.predict(df_pref_clean)

In [283]:
df_traintest['predictions_DecTree'] = DecTree1.predict(df_traintest_clean)

In [284]:
df['predictions_DecTree'] = DecTree1.predict(df_clean)

In [285]:
df_tr_pref['predictions_DecTree'] = DecTree2.predict(df_tr_pref_clean)

In [286]:
df_pref['predictions_DecTree'] = DecTree2.predict(df_pref_clean)

In [287]:
df_traintest.to_csv('df_traintest.csv', encoding='utf-8')

In [288]:
df.to_csv('df.csv', encoding='utf-8')

In [289]:
df_tr_pref.to_csv('df_tr_pref.csv', encoding='utf-8')

In [290]:
df_pref.to_csv('df_pref.csv', encoding='utf-8')

# Get parent_child pairs

In [308]:
pp_pairs = []
for parent in tixwords:
    for child in tixwords[parent]:
        if [parent, child] not in pp_pairs:
            pp_pairs.append([parent, child])
len(pp_pairs)

35045

consequent

In [309]:
df1 = copy(df)
df1 = df1.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [312]:
df1 = df1[df1.predictions_DecTree == 1] 
df1 = df1[df1.predictions_LogReg == 1]

In [313]:
df1.head()

,parent,child,pos_p,pos_c,predictions_LogReg,predictions_DecTree
9,авось,авоська,D,N,1,1
39,автократия,автократический,N,A,1,1
41,автократ,автократия,N,N,1,1
71,автотипия,автотипический,N,A,1,1
81,автохром,автохромный,N,A,1,1

In [314]:
parents1 = df1['parent'].tolist()
children1 = df1['child'].tolist()
poses_p1 = df1['pos_p'].tolist()
poses_c1 = df1['pos_c'].tolist()

In [315]:
parents_kuz1 = []
children_kuz1 = []
poses_p_kuz1 = []
poses_c_kuz1 = []
for i in range(len(parents1)):
    if [parents1[i], children1[i]] not in pp_pairs:
        parents_kuz1.append(parents1[i])
        children_kuz1.append(children1[i])
        poses_p_kuz1.append(poses_p1[i])
        poses_c_kuz1.append(poses_c1[i])

In [316]:
len(parents_kuz1)

37166

In [317]:
poses_p_norm1 = poses_p_kuz1
poses_c_norm1 = poses_c_kuz1

remoted

In [318]:
df2 = copy(df_pref)
df2 = df2.drop(columns=['onset_p', 'onset_c', 'offset_p', 'offset_c', 'roots_p', 'roots_c', 'morphs_p', 'morphs_c', 'lev_dist', 'length', 'N_p', 'A_p', 'V_p', 'D_p', 'N_c', 'A_c', 'V_c', 'D_c', 'begins', 'ends'])

In [319]:
df2 = df2[df2.predictions_DecTree == 1]
df2 = df2[df2.predictions_LogReg == 1]

In [320]:
df2.head()

,parent,child,pos_p,pos_c,predictions_LogReg,predictions_DecTree
0,август,августовский,A,N,1,1
71,авось,авоська,N,D,1,1
1113,груз,автогрузовой,A,N,1,1
1266,гуж,автогужевой,A,N,1,1
1886,правка,автозаправка,N,N,1,1

In [321]:
parents2 = df2['parent'].tolist()
children2 = df2['child'].tolist()
poses_p2 = df2['pos_p'].tolist()
poses_c2 = df2['pos_c'].tolist()

In [322]:
parents_kuz2 = []
children_kuz2 = []
poses_p_kuz2 = []
poses_c_kuz2 = []
for i in range(len(parents2)):
    if [parents2[i], children2[i]] not in pp_pairs:
        parents_kuz2.append(parents2[i])
        children_kuz2.append(children2[i])
        poses_p_kuz2.append(poses_p2[i])
        poses_c_kuz2.append(poses_c2[i])

In [323]:
len(parents_kuz2)

37172

In [324]:
poses_p_norm2 = poses_p_kuz2
poses_c_norm2 = poses_c_kuz2

unite

In [325]:
len(parents_kuz1)

37166

In [326]:
pc_sets = []
for i in range(len(parents_kuz1)):
    set1 = [parents_kuz1[i], children_kuz1[i], poses_p_norm1[i], poses_c_norm1[i]]
    if set1 not in pc_sets:
        pc_sets.append(set1)

In [327]:
len(pc_sets)

37166

In [328]:
for i in range(len(parents_kuz2)):
    set2 = [parents_kuz2[i], children_kuz2[i], poses_p_norm2[i], poses_c_norm2[i]]
    if set2 not in pc_sets:
        pc_sets.append(set2)

In [329]:
len(pc_sets)

64600

In [330]:
df_all = pd.DataFrame(pc_sets)

In [331]:
df_all.columns = ['parent', 'child', 'pos_p', 'pos_c']

In [332]:
df_all.head()

       parent            child pos_p pos_c
0       авось          авоська     D     N
1  автократия  автократический     N     A
2    автократ       автократия     N     N
3   автотипия   автотипический     N     A
4    автохром      автохромный     N     A

In [333]:
df_all.to_csv('final_pairs.csv', encoding='utf-8')